<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banner</title>
    <link rel="icon" type="image/png" sizes="16x16" href="https://admin.tuyendung.me/images/Office_job/logo_new.jpg">
	<link rel="stylesheet" href="https://admin.tuyendung.me/vendor/chartist/css/chartist.min.css">
    <link href="https://admin.tuyendung.me/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
	<link href="https://admin.tuyendung.me/vendor/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="https://admin.tuyendung.me/css/style.css" rel="stylesheet">
</head>
</head>
<body>
    <div class="row">
        <div style="text-align: center;" class="col-lg-12">
                <img style="width: 50%;" src="./logo_vlvp_new_2022.png" alt="">
        </div>
    </div>
</body>
</html>