
<!DOCTYPE html>
<html lang="en-US" class="no-js no-svg">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page 404</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5973369736597865"
    crossorigin="anonymous"></script>
    <script src='https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js?ver=6.0.2'
        id='cspt-lottiefiles-script-js'></script>
</head>

<body>
    <div class="row">
        <div style="text-align: center;" class="col-xl-12">
			<lottie-player src="https://assets5.lottiefiles.com/packages/lf20_r5enhcak.json" background="transparent" speed="1" style="width: 100%; height: 500px;" loop="" autoplay=""></lottie-player>
        </div>
        <div style="text-align: center;" class="col-xl-12">
            <h1><%=message%></h1>
        </div>
    </div>
   
</body>

</html>