<div style="background-color:#fff " class="default-tab">
<table style="width: 95%; margin-left: calc(2%); border-collapse: collapse; border: none; margin-right: calc(2%);">
    <tbody>
        <tr>
            <td rowspan="4" style="width:103.5pt;border:double windowtext 1.5pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:19.0pt;">
                <p style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'><img width="93" src="https://galaxydr.com.vn/storage/logo/logo.png" alt="Description: logo"></p>
            </td>
            <td rowspan="4" style="width: 46.9095%; border-top: 1.5pt double windowtext; border-left: none; border-bottom: 1.5pt double windowtext; border-right: 1pt solid windowtext; padding: 0cm 5.4pt; height: 19pt;">
                <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'><strong><span style='font-family:"Cambria",serif;'>C&Ocirc;NG TY TNHH DV GALAXY DR&nbsp;</span></strong></p>
                <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'><span style='font-size:13px;font-family:"Cambria",serif;'>TM01, PVL Linh T&acirc;y, Số 5, Đường D1, Phường Linh T&acirc;y, Th&agrave;nh phố Thủ Đức, Tp HCM</span></p>
                <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'><span style='font-size:13px;font-family:"Cambria",serif;'>Điện thoại: &nbsp;028 73055 995</span></p>
                <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'><span style='font-size:13px;font-family:"Cambria",serif;'>Website:</span><span style="font-size:15px;">&nbsp;</span><span style='font-size:13px;font-family:"Cambria",serif;'>www.galaxydr.com.vn</span></p>
            </td>
            <td style="width:86.4pt;border-top:double windowtext 1.5pt;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:19.0pt;">
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>Trang</p>
            </td>
            <td style="width: 19.7026%; border-top: 1.5pt double windowtext; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1.5pt double windowtext; padding: 0cm 5.4pt; height: 19pt;">
                <p style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>1/2</p>
            </td>
        </tr>
        <tr>
            <td style="width:86.4pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:19.0pt;">
                <p style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'><span style="font-size:13px;">Lần ban h&agrave;nh</span></p>
            </td>
            <td style="width: 19.7026%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1.5pt double windowtext; padding: 0cm 5.4pt; height: 19pt;">
                <p style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'><span style="font-size:15px;">01</span></p>
            </td>
        </tr>
        <tr>
            <td style="width:86.4pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:19.0pt;">
                <p style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'><span style="font-size:13px;">Ng&agrave;y ban h&agrave;nh</span></p>
            </td>
            <td style="width: 19.7026%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1.5pt double windowtext; padding: 0cm 5.4pt; height: 19pt;">
                <p style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'><span style="font-size:15px;">20/01/2021</span></p>
            </td>
        </tr>
        <tr>
            <td style="width:86.4pt;border-top:none;border-left:none;border-bottom:double windowtext 1.5pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:19.0pt;">
                <p style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'><span style="font-size:13px;">Số hiệu</span></p>
            </td>
            <td style="width: 19.7026%; border-top: none; border-left: none; border-bottom: 1.5pt double windowtext; border-right: 1.5pt double windowtext; padding: 0cm 5.4pt; height: 19pt;">
                <p style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'>BM - QT08-02</p>
            </td>
        </tr>
    </tbody>
</table>
<h1>
    <strong>DANH SÁCH NHÂN SỰ BÀN GIAO</strong>
</h1>
<p>
    Bộ phận nhận bàn giao :
</p>
<p>
    Ngày bàn giao :
</p>
<p>
    Người nhận bàn giao :
</p>
<table border="1" cellspacing="0" cellpadding="0" width="1009">
    <thead>
        <tr>
            <td width="44" rowspan="2">
                <p align="center">
                    TT
                </p>
            </td>
            <td width="194" rowspan="2">
                <p align="center">
                    Họ và tên
                </p>
            </td>
            <td width="105" rowspan="2">
                <p align="center">
                    Phòng ban/
                </p>
                <p align="center">
                    Chức vụ
                </p>
            </td>
            <td width="67" rowspan="2">
                <p align="center">
                    CMND
                </p>
            </td>
            <td width="95" rowspan="2">
                <p align="center">
                    Năm sinh
                </p>
            </td>
            <td width="124" colspan="2">
                <p align="center">
                    Ngày …/…/…
                </p>
            </td>
            <td width="124" rowspan="2">
                <p align="center">
                    Số điện thoại
                </p>
            </td>
            <td width="143" rowspan="2">
                <p align="center">
                    Người giới thiệu
                </p>
            </td>
            <td width="114" rowspan="2">
                <p align="center">
                    Ghi chú
                </p>
            </td>
        </tr>
        <tr>
            <td width="67">
                <p align="center">
                    Sáng
                </p>
            </td>
            <td width="57">
                <p align="center">
                    Chiều
                </p>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td valign="bottom">
                <p align="center">
                    1
                </p>
            </td>
            <td width="194">
            </td>
            <td width="105">
            </td>
            <td width="67" valign="top">
            </td>
            <td width="95" valign="top">
            </td>
            <td width="67" valign="top">
            </td>
            <td width="57" valign="top">
            </td>
            <td width="124" valign="top">
            </td>
            <td width="143" valign="top">
            </td>
            <td width="114" valign="top">
            </td>
        </tr>
        <tr>
            <td width="44">
                <p align="center">
                    2
                </p>
            </td>
            <td width="194">
            </td>
            <td width="105">
            </td>
            <td width="67" valign="top">
            </td>
            <td width="95" valign="top">
            </td>
            <td width="67" valign="top">
            </td>
            <td width="57" valign="top">
            </td>
            <td width="124" valign="top">
            </td>
            <td width="143" valign="top">
            </td>
            <td width="114" valign="top">
            </td>
        </tr>
        <tr>
            <td width="44">
                <p align="center">
                    3
                </p>
            </td>
            <td width="194">
            </td>
            <td width="105">
            </td>
            <td width="67" valign="top">
            </td>
            <td width="95" valign="top">
            </td>
            <td width="67" valign="top">
            </td>
            <td width="57" valign="top">
            </td>
            <td width="124" valign="top">
            </td>
            <td width="143" valign="top">
            </td>
            <td width="114" valign="top">
            </td>
        </tr>
        <tr>
            <td width="44">
                <p align="center">
                    4
                </p>
            </td>
            <td width="194">
            </td>
            <td width="105">
            </td>
            <td width="67" valign="top">
            </td>
            <td width="95" valign="top">
            </td>
            <td width="67" valign="top">
            </td>
            <td width="57" valign="top">
            </td>
            <td width="124" valign="top">
            </td>
            <td width="143" valign="top">
            </td>
            <td width="114" valign="top">
            </td>
        </tr>
        <tr>
            <td width="44">
                <p align="center">
                    5
                </p>
            </td>
            <td width="194">
            </td>
            <td width="105">
            </td>
            <td width="67" valign="top">
            </td>
            <td width="95" valign="top">
            </td>
            <td width="67" valign="top">
            </td>
            <td width="57" valign="top">
            </td>
            <td width="124" valign="top">
            </td>
            <td width="143" valign="top">
            </td>
            <td width="114" valign="top">
            </td>
        </tr>
        <tr>
            <td width="44">
                <p align="center">
                    6
                </p>
            </td>
            <td width="194">
            </td>
            <td width="105">
            </td>
            <td width="67" valign="top">
            </td>
            <td width="95" valign="top">
            </td>
            <td width="67" valign="top">
            </td>
            <td width="57" valign="top">
            </td>
            <td width="124" valign="top">
            </td>
            <td width="143" valign="top">
            </td>
            <td width="114" valign="top">
            </td>
        </tr>
        <tr>
            <td width="44">
                <p align="center">
                    7
                </p>
            </td>
            <td width="194">
            </td>
            <td width="105">
            </td>
            <td width="67" valign="top">
            </td>
            <td width="95" valign="top">
            </td>
            <td width="67" valign="top">
            </td>
            <td width="57" valign="top">
            </td>
            <td width="124" valign="top">
            </td>
            <td width="143" valign="top">
            </td>
            <td width="114" valign="top">
            </td>
        </tr>
    </tbody>
</table>
<table border="0" cellspacing="0" cellpadding="0" align="left" width="851">
    <tbody>
        <tr>
            <td width="425" valign="top">
                <p align="center">
                    <strong>Xác nhận của Bộ phận Tuyển dụng</strong>
                </p>
                <p align="center">
                    <em> </em>
                </p>
                <p>
                    <em> </em>
                </p>
                <p align="center">
                    <em> </em>
                </p>
                <p align="center">
                    <em>…………………………………………..</em>
                </p>
            </td>
            <td width="425" valign="top">
                <p align="center">
                    <strong>Xác nhận của Bộ phận ………….</strong>
                </p>
                <p align="center">
                    <em> </em>
                </p>
                <p align="center">
                    <em> </em>
                </p>
                <p>
                    <em> </em>
                </p>
                <p align="center">
                    <em>…………………………………………..</em>
                </p>
            </td>
        </tr>
    </tbody>
</table>
</div>