<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ứng Tuyển GALAXYDR</title>
    <meta name="description" content="ISO GALAXYDR 9001:2015">
    <link rel="shortcut icon" type="image/x-icon" href="galaxydr-logo.jpg">
    <link rel="apple-touch-icon" href="galaxydr-logo.jpg">
    <link rel="stylesheet" type="text/css" href="https://admin.tuyendung.me/api/style.css" />
    <link rel="stylesheet" href="https://admin.tuyendung.me/api/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://admin.tuyendung.me/api/assets/css/typography.css">
    <link rel="stylesheet" href="https://admin.tuyendung.me/api/assets/css/style.css">
    <link rel="stylesheet" href="https://admin.tuyendung.me/api/assets/css/responsive.css">
    <script src="jquery.js"></script>
</head>

<body>
    <section class="sign-in-page">
        <div class="container">
            <div class="row justify-content-center align-items-center height-self-center">
                <div style="    margin-top: 10px;
               margin-bottom: 10px;" class="col-lg-5 col-md-12 align-self-center form-padding">
                    <div style="border-radius: 20px;" class="sign-user_card ">
                        <div class="sign-in-page-data">
                            <div style="text-align: center;" class="sign-in-from w-100 m-auto">
                                <img style="width: 30%;border-radius: 50%;" src="/galaxydr-logo.jpg" alt="">
                            </div>
                            <div class="sign-in-from w-100 m-auto">
                                <h4 style="margin-top: 10px;text-align: center;">XIN CÁM ƠN ANH/CHỊ <br>Đã Ứng Tuyển
                                </h4>
                                <li>Đơn ứng tuyển đã gửi đến Phòng Nhân Sự GalaxyDR</li>
                                <li>Phòng Nhân Sự GALAXYDR sẽ liên hệ bạn trong thời gian sớm nhất</li>
                                <h6>Công Ty TNHH DV GalaxyDR</h6>
                                <li>Liên Hệ :<a href="tel:+84933412867"> 093.18.666.98 Đức Anh</a></li>
                                <li>Website :<a href="https://www.galaxydr.com.vn"> www.galaxydr.com.vn</a></li>
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <script src="https://admin.tuyendung.me/api/assets/js/bootstrap.min.js"></script>
    <script src="https://admin.tuyendung.me/api/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="https://admin.tuyendung.me/api/assets/js/custom.js"></script>

</body>

</html>