<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <title>Mô tả công việc</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5973369736597865"
    crossorigin="anonymous"></script>
</head>
<body>
    <iframe style="height: 600px;background-size: cover;background-image: url('loading.gif');" width="100%;" src="./Telesales-GLX.pdf"></iframe>
</body>
</html>