<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thư Mời Phỏng Vấn</title>
</head>
<body >
    <div style="background-color:#fff;padding-left: 3%;padding-right: 3%;padding-top: 2%;" class="default-tab">
        <table style="width: 95%; margin-left: calc(2%); border-collapse: collapse; border: none; margin-right: calc(3%);">
            <tbody>
                <tr>
                    <td rowspan="4" style="width:103.5pt;border:double windowtext 1.5pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:19.0pt;">
                        <p style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'><img width="93" src="https://galaxydr.com.vn/storage/logo/logo.png" alt="Description: logo"></p>
                    </td>
                    <td rowspan="4" style="width: 46.9095%; border-top: 1.5pt double windowtext; border-left: none; border-bottom: 1.5pt double windowtext; border-right: 1pt solid windowtext; padding: 0cm 5.4pt; height: 19pt;">
                        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'><strong><span style='font-family:"Cambria",serif;'>C&Ocirc;NG TY TNHH DV GALAXY DR&nbsp;</span></strong></p>
                        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'><span style='font-size:13px;font-family:"Cambria",serif;'>TM01, PVL Linh T&acirc;y, Số 5, Đường D1, Phường Linh T&acirc;y, Th&agrave;nh phố Thủ Đức, Tp HCM</span></p>
                        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'><span style='font-size:13px;font-family:"Cambria",serif;'>Điện thoại: &nbsp;028 73055 995</span></p>
                        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'><span style='font-size:13px;font-family:"Cambria",serif;'>Website:</span><span style="font-size:15px;">&nbsp;</span><span style='font-size:13px;font-family:"Cambria",serif;'>www.galaxydr.com.vn</span></p>
                    </td>
                    <td style="width:86.4pt;border-top:double windowtext 1.5pt;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:19.0pt;">
                        <p style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>Trang</p>
                    </td>
                    <td style="width: 19.7026%; border-top: 1.5pt double windowtext; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1.5pt double windowtext; padding: 0cm 5.4pt; height: 19pt;">
                        <p style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>1/1</p>
                    </td>
                </tr>
                <tr>
                    <td style="width:86.4pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:19.0pt;">
                        <p style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'><span style="font-size:13px;">Lần ban h&agrave;nh</span></p>
                    </td>
                    <td style="width: 19.7026%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1.5pt double windowtext; padding: 0cm 5.4pt; height: 19pt;">
                        <p style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'><span style="font-size:15px;">01</span></p>
                    </td>
                </tr>
                <tr>
                    <td style="width:86.4pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:19.0pt;">
                        <p style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'><span style="font-size:13px;">Ng&agrave;y ban h&agrave;nh</span></p>
                    </td>
                    <td style="width: 19.7026%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1.5pt double windowtext; padding: 0cm 5.4pt; height: 19pt;">
                        <p style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'><span style="font-size:15px;">20/01/2021</span></p>
                    </td>
                </tr>
                <tr>
                    <td style="width:86.4pt;border-top:none;border-left:none;border-bottom:double windowtext 1.5pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:19.0pt;">
                        <p style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'><span style="font-size:13px;">Số hiệu</span></p>
                    </td>
                    <td style="width: 19.7026%; border-top: none; border-left: none; border-bottom: 1.5pt double windowtext; border-right: 1.5pt double windowtext; padding: 0cm 5.4pt; height: 19pt;">
                        <p style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'>BM - QT08-02</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;'><span style="font-size:11px;">&nbsp;</span></p>
        <h3 style='margin-top:12.0pt;margin-right:0cm;margin-bottom:3.0pt;margin-left:0cm;font-size:17px;font-family:"Arial",sans-serif;'>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</h3>
        <h3 style='margin-top:12.0pt;margin-right:0cm;margin-bottom:3.0pt;margin-left:0cm;font-size:17px;font-family:"Arial",sans-serif;text-align:center;'><span style='font-size:24px;font-family:"Times New Roman",serif;'>THƯ MỜI PHỎNG VẤN</span></h3>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:justify;'><strong><u><span style="font-size:17px;">Kính gửi</span></u></strong><span style="font-size:17px;">:&nbsp;</span><span style="font-size:17px;">Anh/Chị : <strong>.......</strong></span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:justify;'><span style="font-size:17px;">&nbsp;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:justify;line-height:150%;'><span style="font-size:17px;line-height:150%;">C&ocirc;ng ty TNHH DV GALAXY DR xin gửi tới Qu&yacute; anh/chị lời ch&uacute;c sức khỏe, an khang v&agrave; th&agrave;nh đạt.</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:justify;line-height:150%;'><span style="font-size:17px;line-height:150%;">C&ocirc;ng ty xin th&ocirc;ng b&aacute;o: Hồ sơ của Qu&yacute; anh/Chị đ&atilde; đ&aacute;p ứng đầy đủ c&aacute;c điều kiện v&agrave; y&ecirc;u cầu với vị tr&iacute; C&ocirc;ng ty ch&uacute;ng t&ocirc;i đang tuyển dụng.</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:justify;line-height:150%;'><span style="font-size:17px;line-height:150%;">Ch&uacute;ng t&ocirc;i xin tr&acirc;n trọng k&iacute;nh mời Anh/Chị đến tham gia phỏng vấn tại c&ocirc;ng ty ch&uacute;ng t&ocirc;i với nội dung như sau:</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:justify;line-height:150%;'><strong><span style="font-size:17px;line-height:150%;">-&nbsp;</span></strong><span style="font-size:17px;line-height:150%;">Vị tr&iacute; tuyển dụng:&nbsp;</span><strong><span style="line-height:150%;">.........................</span></strong></p>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:justify;line-height:150%;'><strong><span style="font-size:17px;line-height:150%;">-&nbsp;</span></strong><span style="font-size:17px;line-height:150%;">Thời gian: ........ Ngày :.........;</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:justify;line-height:150%;'><strong><span style="font-size:17px;line-height:150%;">-&nbsp;</span></strong><span style="font-size:17px;line-height:150%;">Địa điểm:&nbsp;</span><strong><span style="font-size:17px;line-height:150%;">......................................................</span></strong></p>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:justify;line-height:150%;'><span style="font-size:17px;line-height:150%;">Rất mong Anh/Chị thu xếp thời gian tham gia v&agrave; c&oacute; mặt đ&uacute;ng giờ. Trường hợp Anh/Chị kh&ocirc;ng thể thu xếp được thời gian, c&oacute; l&yacute; do đột xuất hoặc c&oacute; bất kỳ y&ecirc;u cầu/thắc mắc, xin vui l&ograve;ng li&ecirc;n hệ với c&ocirc;ng ty ch&uacute;ng t&ocirc;i theo th&ocirc;ng tin b&ecirc;n dưới.</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:justify;line-height:150%;'><span style="font-size:17px;line-height:150%;">BP. TUYỂN DỤNG/P.HC-NS</span></p>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:justify;line-height:150%;'><em><u><span style="font-size:17px;line-height:150%;">Hotline: .............................................</span></u></em></p>
        <p style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:justify;line-height:150%;'><em><u><span style="font-size:17px;line-height:150%;">Email:&nbsp;</span></u></em><em><u><span style="font-size:17px;line-height:150%;">......................</span></u></em></p>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:justify;line-height:150%;'><em><span style="font-size:17px;line-height:150%;">Xin ch&acirc;n th&agrave;nh cảm ơn v&agrave; tr&acirc;n trọng k&iacute;nh ch&agrave;o!</span></em></p>
        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:justify;'><span style="font-size:17px;">&nbsp;</span></p>
        <table style="border: none;border-collapse:collapse;">
            <tbody>
                <tr>
                    <td style="width: 243.9pt;padding: 0cm 5.4pt;vertical-align: top;">
                        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:justify;'><span style="font-size:17px;">&nbsp;</span></p>
                    </td>
                    <td style="width: 243.9pt;padding: 0cm 5.4pt;vertical-align: top;">
                        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'><span style="font-size:17px;">TM CTY TNHH DV&nbsp;</span><span style="font-size:17px;">GALAXY DR</span></p>
                    </td>
                </tr>
                <tr>
                    <td style="width: 243.9pt;padding: 0cm 5.4pt;vertical-align: top;">
                        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:justify;'><span style="font-size:17px;">&nbsp;</span></p>
                    </td>
                    <td style="width: 243.9pt;padding: 0cm 5.4pt;vertical-align: top;">
                        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'><span style="font-size:17px;">&nbsp;</span></p>
                        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'><strong><span style="font-size:17px;">BP.TUYỂN DỤNG</span></strong></p>
                        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'><span style="font-size:17px;">&nbsp;</span></p>
                        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'><span style="font-size:17px;">&nbsp;</span></p>
                        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'><span style="font-size:17px;">&nbsp;</span></p>
                        <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'><span style="font-size:17px;">&nbsp;</span></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>