<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yêu Cầu Tuyển Dụng</title>
</head>
<body>
    <table style="width: 95%; margin-left: calc(3%); border-collapse: collapse; border: none; margin-right: calc(3%);">
        <tbody>
            <tr>
                <td rowspan="4" style="width:103.5pt;border:double windowtext 1.5pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:19.0pt;">
                    <p style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'><img width="93" src="https://galaxydr.com.vn/storage/logo/logo.png" alt="Description: logo"></p>
                </td>
                <td rowspan="4" style="width: 46.9095%; border-top: 1.5pt double windowtext; border-left: none; border-bottom: 1.5pt double windowtext; border-right: 1pt solid windowtext; padding: 0cm 5.4pt; height: 19pt;">
                    <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'><strong><span style='font-family:"Cambria",serif;'>C&Ocirc;NG TY TNHH DV GALAXY DR&nbsp;</span></strong></p>
                    <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'><span style='font-size:13px;font-family:"Cambria",serif;'>TM01, PVL Linh T&acirc;y, Số 5, Đường D1, Phường Linh T&acirc;y, Th&agrave;nh phố Thủ Đức, Tp HCM</span></p>
                    <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'><span style='font-size:13px;font-family:"Cambria",serif;'>Điện thoại: &nbsp;028 73055 995</span></p>
                    <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'><span style='font-size:13px;font-family:"Cambria",serif;'>Website:</span><span style="font-size:15px;">&nbsp;</span><span style='font-size:13px;font-family:"Cambria",serif;'>www.galaxydr.com.vn</span></p>
                </td>
                <td style="width:86.4pt;border-top:double windowtext 1.5pt;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:19.0pt;">
                    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>Trang</p>
                </td>
                <td style="width: 19.7026%; border-top: 1.5pt double windowtext; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1.5pt double windowtext; padding: 0cm 5.4pt; height: 19pt;">
                    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>1/2</p>
                </td>
            </tr>
            <tr>
                <td style="width:86.4pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:19.0pt;">
                    <p style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'><span style="font-size:13px;">Lần ban h&agrave;nh</span></p>
                </td>
                <td style="width: 19.7026%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1.5pt double windowtext; padding: 0cm 5.4pt; height: 19pt;">
                    <p style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'><span style="font-size:15px;">01</span></p>
                </td>
            </tr>
            <tr>
                <td style="width:86.4pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:19.0pt;">
                    <p style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'><span style="font-size:13px;">Ng&agrave;y ban h&agrave;nh</span></p>
                </td>
                <td style="width: 19.7026%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1.5pt double windowtext; padding: 0cm 5.4pt; height: 19pt;">
                    <p style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'><span style="font-size:15px;">20/01/2021</span></p>
                </td>
            </tr>
            <tr>
                <td style="width:86.4pt;border-top:none;border-left:none;border-bottom:double windowtext 1.5pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:19.0pt;">
                    <p style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'><span style="font-size:13px;">Số hiệu</span></p>
                </td>
                <td style="width: 19.7026%; border-top: none; border-left: none; border-bottom: 1.5pt double windowtext; border-right: 1.5pt double windowtext; padding: 0cm 5.4pt; height: 19pt;">
                    <p style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'>BM - QT08-02</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;'><span style="font-size:11px;">&nbsp;</span></p>
    <h3 style='margin-top:12.0pt;margin-right:0cm;margin-bottom:3.0pt;margin-left:0cm;font-size:17px;font-family:"Arial",sans-serif;'>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</h3>
    <h1 style="margin:0cm;text-align:center;font-size:21px;font-family:VNI-Times;font-weight:normal;text-indent:36.0pt;"><strong><span style='font-family:"Cambria",serif;'>PHIẾU Y&Ecirc;U CẦU TUYỂN DỤNG</span></strong></h1>
    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;"><span style='font-family:"Cambria",serif;'>&nbsp;</span></p>
    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;line-height:150%;"><span style='font-family:"Cambria",serif;'>Bộ phận y&ecirc;u cầu&nbsp;: &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></p>
    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;line-height:150%;"><span style='font-family:"Cambria",serif;'>Ng&agrave;y y&ecirc;u cầu&nbsp; &nbsp; &nbsp;&nbsp;: &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></p>
    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;line-height:150%;"><span style='font-family:"Cambria",serif;'>Mục đ&iacute;** y&ecirc;u cầu tuyển dụng&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span><span style='font-family:"Times New Roman",serif;'>□</span><span style='font-family:"Cambria",serif;'>Tuyển mới&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span><span style='font-family:"Times New Roman",serif;'>□</span><span style='font-family:"Cambria",serif;'>Back up&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span><span style='font-family:"Times New Roman",serif;'>□</span><span style='font-family:"Cambria",serif;'>Dự &aacute;n &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;...</span></p>
    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;"><span style='font-size:5px;font-family:"Cambria",serif;'>&nbsp;</span></p>
    <table style="width:100%;border-collapse:collapse;border:none;">
        <thead>
            <tr>
                <td rowspan="2" style="width:32.8pt;border:solid windowtext 1.0pt;background:#E6E6E6;padding:0cm 5.4pt 0cm 5.4pt;height:24.95pt;">
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;text-align:center;"><span style='font-family:"Cambria",serif;'>TT</span></p>
                </td>
                <td rowspan="2" style="width:144.3pt;border:solid windowtext 1.0pt;border-left:none;background:#E6E6E6;padding:0cm 5.4pt 0cm 5.4pt;height:24.95pt;">
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;text-align:center;"><span style='font-family:"Cambria",serif;color:black;'>Vị tr&iacute;</span></p>
                </td>
                <td rowspan="2" style="width:77.95pt;border:solid windowtext 1.0pt;border-left:none;background:#E6E6E6;padding:0cm 5.4pt 0cm 5.4pt;height:24.95pt;">
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;text-align:center;"><span style='font-family:"Cambria",serif;color:black;'>Nh&oacute;m/ Ph&ograve;ng ban</span></p>
                </td>
                <td rowspan="2" style="width:177.3pt;border:solid windowtext 1.0pt;border-left:none;background:#E6E6E6;padding:0cm 5.4pt 0cm 5.4pt;height:24.95pt;">
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;text-align:center;"><span style='font-family:"Cambria",serif;color:black;'>Y&ecirc;u cầu tuyển dụng</span></p>
                </td>
                <td rowspan="2" style="width:99.25pt;border:solid windowtext 1.0pt;border-left:none;background:#E6E6E6;padding:0cm 5.4pt 0cm 5.4pt;height:24.95pt;">
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;text-align:center;"><span style='font-family:"Cambria",serif;color:black;'>Ng&agrave;y b&agrave;n giao nh&acirc;n sự</span></p>
                </td>
                <td rowspan="2" style="width:63.75pt;border:solid windowtext 1.0pt;border-left:none;background:#E6E6E6;padding:0cm 5.4pt 0cm 5.4pt;height:24.95pt;">
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;text-align:center;"><span style='font-family:"Cambria",serif;color:black;'>Số lượng</span></p>
                </td>
                <td rowspan="2" style="width:77.95pt;border:solid windowtext 1.0pt;border-left:none;background:#E6E6E6;padding:0cm 5.4pt 0cm 5.4pt;height:24.95pt;">
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;text-align:center;"><span style='font-family:"Cambria",serif;color:black;'>Ph&ecirc; duyệt</span></p>
                </td>
                <td rowspan="2" style="width:92.15pt;border:solid windowtext 1.0pt;border-left:none;background:#E6E6E6;padding:0cm 5.4pt 0cm 5.4pt;height:24.95pt;">
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;text-align:center;"><span style='font-family:"Cambria",serif;color:black;'>Ghi ch&uacute;</span></p>
                </td>
                <td style="height:24.95pt;border:none;"><br></td>
            </tr>
            <tr>
                <td style="height:29.75pt;border:none;"><br></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;height: 26.35pt;vertical-align: bottom;">
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;margin-bottom:10.0pt;text-align:center;line-height:115%;"><span style='font-family:"Cambria",serif;'>1</span></p>
                </td>
                <td style="width:144.3pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:26.35pt;">
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;"><span style='font-family:"Cambria",serif;'>&nbsp;</span></p>
                </td>
                <td style="width:77.95pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:26.35pt;">
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;text-align:center;"><span style='font-family:"Cambria",serif;'>&nbsp;</span></p>
                </td>
                <td style="width: 177.3pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 26.35pt;vertical-align: top;">
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;margin-left:6.9pt;text-align:center;"><span style='font-family:"Cambria",serif;'>&nbsp;</span></p>
                </td>
                <td style="width: 99.25pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 26.35pt;vertical-align: top;">
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;margin-left:6.9pt;text-align:center;"><span style='font-family:"Cambria",serif;'>&nbsp;</span></p>
                </td>
                <td style="width: 63.75pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 26.35pt;vertical-align: top;">
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;text-align:center;"><span style='font-family:"Cambria",serif;'>&nbsp;</span></p>
                </td>
                <td style="width: 77.95pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 26.35pt;vertical-align: top;">
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;text-align:center;"><span style='font-family:"Cambria",serif;'>&nbsp;</span></p>
                </td>
                <td style="width: 92.15pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 26.35pt;vertical-align: top;">
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;text-align:center;"><span style='font-family:"Cambria",serif;'>&nbsp;</span></p>
                </td>
                <td style="height:26.35pt;border:none;"><br></td>
            </tr>
            <tr>
                <td style="width:32.8pt;border:solid windowtext 1.0pt;border-top:  none;padding:0cm 5.4pt 0cm 5.4pt;height:28.15pt;">
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;margin-bottom:10.0pt;text-align:center;line-height:115%;"><span style='font-family:"Cambria",serif;'>2</span></p>
                </td>
                <td style="width:144.3pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:28.15pt;">
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;"><span style='font-family:"Cambria",serif;'>&nbsp;</span></p>
                </td>
                <td style="width:77.95pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:28.15pt;">
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;text-align:center;"><span style='font-family:"Cambria",serif;'>&nbsp;</span></p>
                </td>
                <td style="width: 177.3pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 28.15pt;vertical-align: top;">
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;margin-left:6.9pt;text-align:center;"><span style='font-family:"Cambria",serif;'>&nbsp;</span></p>
                </td>
                <td style="width: 99.25pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 28.15pt;vertical-align: top;">
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;margin-left:6.9pt;text-align:center;"><span style='font-family:"Cambria",serif;'>&nbsp;</span></p>
                </td>
                <td style="width: 63.75pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 28.15pt;vertical-align: top;">
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;text-align:center;"><span style='font-family:"Cambria",serif;'>&nbsp;</span></p>
                </td>
                <td style="width: 77.95pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 28.15pt;vertical-align: top;">
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;text-align:center;"><span style='font-family:"Cambria",serif;'>&nbsp;</span></p>
                </td>
                <td style="width: 92.15pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 28.15pt;vertical-align: top;">
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;text-align:center;"><span style='font-family:"Cambria",serif;'>&nbsp;</span></p>
                </td>
                <td style="height:28.15pt;border:none;"><br></td>
            </tr>
            <tr>
                <td style="width:32.8pt;border:solid windowtext 1.0pt;border-top:  none;padding:0cm 5.4pt 0cm 5.4pt;height:20.75pt;">
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;margin-bottom:10.0pt;text-align:center;line-height:115%;"><span style='font-family:"Cambria",serif;'>3</span></p>
                </td>
                <td style="width:144.3pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:20.75pt;">
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;"><span style='font-family:"Cambria",serif;'>&nbsp;</span></p>
                </td>
                <td style="width:77.95pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:20.75pt;">
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;text-align:center;"><span style='font-family:"Cambria",serif;'>&nbsp;</span></p>
                </td>
                <td style="width: 177.3pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 20.75pt;vertical-align: top;">
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;margin-left:6.9pt;text-align:center;"><span style='font-family:"Cambria",serif;'>&nbsp;</span></p>
                </td>
                <td style="width: 99.25pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 20.75pt;vertical-align: top;">
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;margin-left:6.9pt;text-align:center;"><span style='font-family:"Cambria",serif;'>&nbsp;</span></p>
                </td>
                <td style="width: 63.75pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 20.75pt;vertical-align: top;">
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;text-align:center;"><span style='font-family:"Cambria",serif;'>&nbsp;</span></p>
                </td>
                <td style="width: 77.95pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 20.75pt;vertical-align: top;">
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;text-align:center;"><span style='font-family:"Cambria",serif;'>&nbsp;</span></p>
                </td>
                <td style="width: 92.15pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 20.75pt;vertical-align: top;">
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;text-align:center;"><span style='font-family:"Cambria",serif;'>&nbsp;</span></p>
                </td>
                <td style="height:20.75pt;border:none;"><br></td>
            </tr>
            <tr>
                <td style="width:32.8pt;border:solid windowtext 1.0pt;border-top:  none;padding:0cm 5.4pt 0cm 5.4pt;height:21.85pt;">
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;margin-bottom:10.0pt;text-align:center;line-height:115%;"><span style='font-family:"Cambria",serif;'>4</span></p>
                </td>
                <td style="width:144.3pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:21.85pt;">
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;"><span style='font-family:"Cambria",serif;'>&nbsp;</span></p>
                </td>
                <td style="width:77.95pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:21.85pt;">
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;text-align:center;"><span style='font-family:"Cambria",serif;'>&nbsp;</span></p>
                </td>
                <td style="width: 177.3pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 21.85pt;vertical-align: top;">
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;margin-left:6.9pt;text-align:center;"><span style='font-family:"Cambria",serif;'>&nbsp;</span></p>
                </td>
                <td style="width: 99.25pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 21.85pt;vertical-align: top;">
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;margin-left:6.9pt;text-align:center;"><span style='font-family:"Cambria",serif;'>&nbsp;</span></p>
                </td>
                <td style="width: 63.75pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 21.85pt;vertical-align: top;">
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;"><span style='font-family:"Cambria",serif;'>&nbsp;</span></p>
                </td>
                <td style="width: 77.95pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 21.85pt;vertical-align: top;">
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;text-align:center;"><span style='font-family:"Cambria",serif;'>&nbsp;</span></p>
                </td>
                <td style="width: 92.15pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 21.85pt;vertical-align: top;">
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;text-align:center;"><span style='font-family:"Cambria",serif;'>&nbsp;</span></p>
                </td>
                <td style="height:21.85pt;border:none;"><br></td>
            </tr>
            <tr>
                <td style="width:32.8pt;border:solid windowtext 1.0pt;border-top:  none;padding:0cm 5.4pt 0cm 5.4pt;height:24.35pt;">
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;margin-bottom:10.0pt;text-align:center;line-height:115%;"><span style='font-family:"Cambria",serif;'>6</span></p>
                </td>
                <td style="width:144.3pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:24.35pt;">
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;"><span style='font-family:"Cambria",serif;'>&nbsp;</span></p>
                </td>
                <td style="width:77.95pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:24.35pt;">
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;text-align:center;"><span style='font-family:"Cambria",serif;'>&nbsp;</span></p>
                </td>
                <td style="width: 177.3pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 24.35pt;vertical-align: top;">
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;margin-left:6.9pt;text-align:center;"><span style='font-family:"Cambria",serif;'>&nbsp;</span></p>
                </td>
                <td style="width: 99.25pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 24.35pt;vertical-align: top;">
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;margin-left:6.9pt;text-align:center;"><span style='font-family:"Cambria",serif;'>&nbsp;</span></p>
                </td>
                <td style="width: 63.75pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 24.35pt;vertical-align: top;">
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;text-align:center;"><span style='font-family:"Cambria",serif;'>&nbsp;</span></p>
                </td>
                <td style="width: 77.95pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 24.35pt;vertical-align: top;">
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;text-align:center;"><span style='font-family:"Cambria",serif;'>&nbsp;</span></p>
                </td>
                <td style="width: 92.15pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 24.35pt;vertical-align: top;">
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;text-align:center;"><span style='font-family:"Cambria",serif;'>&nbsp;</span></p>
                </td>
                <td style="height:24.35pt;border:none;"><br></td>
            </tr>
        </tbody>
    </table>
    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;"><span style='font-family:"Cambria",serif;'>&nbsp;</span></p>
    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;"><span style='font-family:"Cambria",serif;'>&nbsp;</span></p>
    <table style="width: 100%;border-collapse:collapse;border:none;">
        <tbody>
            <tr>
                <td style="width: 211.75pt;padding: 0cm 5.4pt;height: 119.25pt;vertical-align: top;">
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;text-align:center;text-indent:8.75pt;"><strong><span style='font-family:"Calibria",serif;color:black;'>NGƯỜI Y&Ecirc;U CẦU</span></strong></p>
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;"><span style='font-family:"Calibria",serif;'>&nbsp;</span></p>
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;"><span style='font-family:"Calibria",serif;'>&nbsp;</span></p>
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;"><span style='font-family:"Calibria",serif;'>&nbsp;</span></p>
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;"><span style='font-family:"Calibria",serif;'>&nbsp;</span></p>
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;"><span style='font-family:"Calibria",serif;'>&nbsp;</span></p>
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;"><span style='font-family:"Calibria",serif;'>&nbsp;</span></p>
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;text-indent:36.0pt;"><span style='font-family:"Cambria",serif;'>&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;...</span></p>
                </td>
                <td style="width: 222.85pt;padding: 0cm 5.4pt;height: 119.25pt;vertical-align: top;">
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;text-align:center;"><strong><span style='font-family:"Calibria",serif;'>QUẢN L&Yacute; BỘ PHẬN</span></strong></p>
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;"><span style='font-family:"Calibria",serif;'>&nbsp;</span></p>
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;"><span style='font-family:"Calibria",serif;'>&nbsp;</span></p>
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;"><span style='font-family:"Calibria",serif;'>&nbsp;</span></p>
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;"><span style='font-family:"Calibria",serif;'>&nbsp;</span></p>
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;"><span style='font-family:"Calibria",serif;'>&nbsp;</span></p>
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;"><span style='font-family:"Calibria",serif;'>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span><span style='font-family:"Cambria",serif;'>&hellip;&hellip;&hellip;&hellip;...&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span></p>
                </td>
                <td style="width: 167.1pt;padding: 0cm 5.4pt;height: 119.25pt;vertical-align: top;">
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;text-align:center;"><strong><span style='font-family:"Calibria",serif;color:black;'>PH&Ograve;NG HCNS</span></strong></p>
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;"><span style='font-family:"Calibria",serif;'>&nbsp;</span></p>
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;"><span style='font-family:"Calibria",serif;'>&nbsp;</span></p>
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;"><span style='font-family:"Calibria",serif;'>&nbsp;</span></p>
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;"><span style='font-family:"Calibria",serif;'>&nbsp;</span></p>
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;"><span style='font-family:"Calibria",serif;'>&nbsp;</span></p>
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;"><span style='font-family:"Calibria",serif;'>&nbsp;</span></p>
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;text-indent:36.0pt;"><span style='font-family:"Cambria",serif;'>&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span></p>
                </td>
                <td style="width: 167.1pt;padding: 0cm 5.4pt;height: 119.25pt;vertical-align: top;">
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;text-align:center;"><strong><span style='font-family:"Calibria",serif;color:black;'>GI&Aacute;M ĐỐC</span></strong></p>
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;text-align:center;"><strong><span style='font-family:"Calibria",serif;color:black;'>&nbsp;</span></strong></p>
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;text-align:center;"><strong><span style='font-family:"Calibria",serif;color:black;'>&nbsp;</span></strong></p>
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;text-align:center;"><strong><span style='font-family:"Calibria",serif;'>&nbsp;</span></strong></p>
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;text-align:center;"><strong><span style='font-family:"Calibria",serif;'>&nbsp;</span></strong></p>
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;text-align:center;"><strong><span style='font-family:"Calibria",serif;'>&nbsp;</span></strong></p>
                    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;"><span style='font-family:"Cambria",serif;'>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;...</span></p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin:0cm;font-size:16px;font-family:VNI-Times;">&nbsp;</p>
   
</body>
</html>