<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/iso/iso.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div style="margin-top: 10px;font-size: 20px;height:100%;" id="thongtin" class="sideber2">
            <div id='DivIdToPrint' class="widghet">
                <table
                    style="width: 95%; margin-left: calc(2%); border-collapse: collapse; border: none; margin-right: calc(3%);">
                    <tbody>
                        <tr>
                            <td rowspan="4"
                                style="width:103.5pt;border:double windowtext 1.5pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:19.0pt;">
                                <p
                                    style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'>
                                    <img width="93"
                                        src="https://galaxydr.com.vn/storage/logo/logo.png"
                                        alt="Description: logo"></p>
                            </td>
                            <td rowspan="4"
                                style="width: 46.9095%; border-top: 1.5pt double windowtext; border-left: none; border-bottom: 1.5pt double windowtext; border-right: 1pt solid windowtext; padding: 0cm 5.4pt; height: 19pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                                    <strong><span style='font-family:"Cambria",serif;'>C&Ocirc;NG TY TNHH DV GALAXY
                                            DR&nbsp;</span></strong></p>
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                                    <span style='font-size:13px;font-family:"Cambria",serif;'>TM01, PVL Linh T&acirc;y,
                                        Số 5, Đường D1, Phường Linh T&acirc;y, Th&agrave;nh phố Thủ Đức, TPHCM</span>
                                </p>
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                                    <span style='font-size:13px;font-family:"Cambria",serif;'>Điện thoại: &nbsp;028
                                        73055 995</span></p>
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                                    <span style='font-size:13px;font-family:"Cambria",serif;'>Website:</span><span
                                        style="font-size:15px;">&nbsp;</span><span
                                        style='font-size:13px;font-family:"Cambria",serif;'>www.galaxydr.com.vn</span>
                                </p>
                            </td>
                            <td
                                style="width:86.4pt;border-top:double windowtext 1.5pt;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:19.0pt;">
                                <p
                                    style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                                    Trang</p>
                            </td>
                            <td
                                style="width: 19.7026%; border-top: 1.5pt double windowtext; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1.5pt double windowtext; padding: 0cm 5.4pt; height: 19pt;">
                                <p
                                    style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                                    1/2</p>
                            </td>
                        </tr>
                        <tr>
                            <td
                                style="width:86.4pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:19.0pt;">
                                <p
                                    style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'>
                                    <span style="font-size:13px;">Lần ban h&agrave;nh</span></p>
                            </td>
                            <td
                                style="width: 19.7026%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1.5pt double windowtext; padding: 0cm 5.4pt; height: 19pt;">
                                <p
                                    style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'>
                                    <span style="font-size:15px;">01</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td
                                style="width:86.4pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:19.0pt;">
                                <p
                                    style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'>
                                    <span style="font-size:13px;">Ng&agrave;y ban h&agrave;nh</span></p>
                            </td>
                            <td
                                style="width: 19.7026%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1.5pt double windowtext; padding: 0cm 5.4pt; height: 19pt;">
                                <p
                                    style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'>
                                    <span style="font-size:15px;">20/01/2021</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td
                                style="width:86.4pt;border-top:none;border-left:none;border-bottom:double windowtext 1.5pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:19.0pt;">
                                <p
                                    style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'>
                                    <span style="font-size:13px;">Số hiệu</span></p>
                            </td>
                            <td
                                style="width: 19.7026%; border-top: none; border-left: none; border-bottom: 1.5pt double windowtext; border-right: 1.5pt double windowtext; padding: 0cm 5.4pt; height: 19pt;">
                                <p
                                    style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'>
                                    BM - QT08-02</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;line-height:150%;'>
                    <strong><span style="font-size:24px;line-height:150%;">PHIẾU Đ&Aacute;NH GI&Aacute; PHỎNG
                            VẤN</span></strong></p>
                <div class="row">
                    <div class="col-md-12">
                        <p>Họ và Tên:
                        </p> 
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6"> 
                                <p>Vị trí ứng Tuyển </p>
                            </div>
                            <div class="col-md-6">
                                <p>Thời gian phỏng vấn</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <p>Phỏng Vấn Viên</p>
                    </div>
                </div>
                <table style="width:100%;border-collapse:collapse;border:none;">
                    <tbody>
                        <tr>
                            <td colspan="6"
                                style="width:100%;border:solid #003366 1.0pt;background:silver;padding:0cm 5.4pt 0cm 5.4pt;height:16.65pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:  1.0pt;margin-left:0cm;line-height:15.0pt;'>
                                    <strong>I. Đ&Aacute;NH GI&Aacute; <span style="color:black;">CỦA PHỎNG VẤN
                                            VI&Ecirc;N</span></strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="2"
                                style="width:267.65pt;border-top:none;border-left:  solid #003366 1.0pt;border-bottom:solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.65pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <strong>Ti&ecirc;u ch&iacute; đ&aacute;nh gi&aacute; phỏng vấn</strong></p>
                            </td>
                            <td colspan="5"
                                style="width:265.5pt;border-top:none;border-left:  none;border-bottom:solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.65pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <strong>Mức độ đ&aacute;nh gi&aacute;</strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td
                                style="width:2.0cm;border-top:none;border-left:none;border-bottom:  solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:7.25pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <strong>1</strong></p>
                            </td>
                            <td
                                style="width:49.6pt;border-top:none;border-left:none;border-bottom:  solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:7.25pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <strong>2</strong></p>
                            </td>
                            <td
                                style="width:49.65pt;border-top:none;border-left:none;border-bottom:solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:7.25pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <strong>3</strong></p>
                            </td>
                            <td
                                style="width:2.0cm;border-top:none;border-left:none;border-bottom:  solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:7.25pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <strong>4</strong></p>
                            </td>
                            <td
                                style="width:52.85pt;border-top:none;border-left:none;border-bottom:solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:7.25pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <strong>5</strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td
                                style="width:267.65pt;border-top:none;border-left:solid #003366 1.0pt;border-bottom:solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.65pt;">
                                <div style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'>
                                    <ul
                                        style="margin-bottom:0cm;list-style-type: disc;margin-left:4.199999999999999px;">
                                        <li style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'>Khả
                                            năng chuy&ecirc;n m&ocirc;n, nghiệp vụ</li>
                                    </ul>
                                </div>
                            </td>
                            <td
                                style="width:2.0cm;border-top:none;border-left:none;border-bottom:  solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.65pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <strong>&nbsp;</strong></p>
                            </td>
                            <td
                                style="width:49.6pt;border-top:none;border-left:none;border-bottom:  solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.65pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <strong>&nbsp;</strong></p>
                            </td>
                            <td
                                style="width:49.65pt;border-top:none;border-left:none;border-bottom:solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.65pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <strong>&nbsp;</strong></p>
                            </td>
                            <td
                                style="width:2.0cm;border-top:none;border-left:none;border-bottom:  solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.65pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <strong>&nbsp;</strong></p>
                            </td>
                            <td
                                style="width:52.85pt;border-top:none;border-left:none;border-bottom:solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.65pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <strong>&nbsp;</strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td
                                style="width:267.65pt;border-top:none;border-left:solid #003366 1.0pt;border-bottom:solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.65pt;">
                                <div style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'>
                                    <ul
                                        style="margin-bottom:0cm;list-style-type: disc;margin-left:4.199999999999999px;">
                                        <li style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'>
                                            T&iacute;nh s&aacute;ng tạo</li>
                                    </ul>
                                </div>
                            </td>
                            <td
                                style="width:2.0cm;border-top:none;border-left:none;border-bottom:  solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.65pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <strong>&nbsp;</strong></p>
                            </td>
                            <td
                                style="width:49.6pt;border-top:none;border-left:none;border-bottom:  solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.65pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <strong>&nbsp;</strong></p>
                            </td>
                            <td
                                style="width:49.65pt;border-top:none;border-left:none;border-bottom:solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.65pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <strong>&nbsp;</strong></p>
                            </td>
                            <td
                                style="width:2.0cm;border-top:none;border-left:none;border-bottom:  solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.65pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <strong>&nbsp;</strong></p>
                            </td>
                            <td
                                style="width:52.85pt;border-top:none;border-left:none;border-bottom:solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.65pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <strong>&nbsp;</strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td
                                style="width:267.65pt;border-top:none;border-left:solid #003366 1.0pt;border-bottom:solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:17.4pt;">
                                <div style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'>
                                    <ul
                                        style="margin-bottom:0cm;list-style-type: disc;margin-left:4.199999999999999px;">
                                        <li style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'>Tinh
                                            thần tr&aacute;ch nhiệm</li>
                                    </ul>
                                </div>
                            </td>
                            <td
                                style="width:2.0cm;border-top:none;border-left:none;border-bottom:  solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:17.4pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <strong>&nbsp;</strong></p>
                            </td>
                            <td
                                style="width:49.6pt;border-top:none;border-left:none;border-bottom:  solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:17.4pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <strong>&nbsp;</strong></p>
                            </td>
                            <td
                                style="width:49.65pt;border-top:none;border-left:none;border-bottom:solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:17.4pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <strong>&nbsp;</strong></p>
                            </td>
                            <td
                                style="width:2.0cm;border-top:none;border-left:none;border-bottom:  solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:17.4pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <strong>&nbsp;</strong></p>
                            </td>
                            <td
                                style="width:52.85pt;border-top:none;border-left:none;border-bottom:solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:17.4pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <strong>&nbsp;</strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td
                                style="width:267.65pt;border-top:none;border-left:solid #003366 1.0pt;border-bottom:solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.65pt;">
                                <div style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'>
                                    <ul
                                        style="margin-bottom:0cm;list-style-type: disc;margin-left:4.199999999999999px;">
                                        <li style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'>Tinh
                                            thần học hỏi</li>
                                    </ul>
                                </div>
                            </td>
                            <td
                                style="width:2.0cm;border-top:none;border-left:none;border-bottom:  solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.65pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <strong>&nbsp;</strong></p>
                            </td>
                            <td
                                style="width:49.6pt;border-top:none;border-left:none;border-bottom:  solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.65pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <strong>&nbsp;</strong></p>
                            </td>
                            <td
                                style="width:49.65pt;border-top:none;border-left:none;border-bottom:solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.65pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <strong>&nbsp;</strong></p>
                            </td>
                            <td
                                style="width:2.0cm;border-top:none;border-left:none;border-bottom:  solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.65pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <strong>&nbsp;</strong></p>
                            </td>
                            <td
                                style="width:52.85pt;border-top:none;border-left:none;border-bottom:solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.65pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <strong>&nbsp;</strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td
                                style="width:267.65pt;border-top:none;border-left:solid #003366 1.0pt;border-bottom:solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.65pt;">
                                <div style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'>
                                    <ul
                                        style="margin-bottom:0cm;list-style-type: disc;margin-left:4.199999999999999px;">
                                        <li style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'>
                                            Th&aacute;i độ t&iacute;ch cực, ph&ugrave; hợp với văn h&oacute;a c&ocirc;ng
                                            ty</li>
                                    </ul>
                                </div>
                            </td>
                            <td
                                style="width:2.0cm;border-top:none;border-left:none;border-bottom:  solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.65pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <strong>&nbsp;</strong></p>
                            </td>
                            <td
                                style="width:49.6pt;border-top:none;border-left:none;border-bottom:  solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.65pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <strong>&nbsp;</strong></p>
                            </td>
                            <td
                                style="width:49.65pt;border-top:none;border-left:none;border-bottom:solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.65pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <strong>&nbsp;</strong></p>
                            </td>
                            <td
                                style="width:2.0cm;border-top:none;border-left:none;border-bottom:  solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.65pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <strong>&nbsp;</strong></p>
                            </td>
                            <td
                                style="width:52.85pt;border-top:none;border-left:none;border-bottom:solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.65pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <strong>&nbsp;</strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td
                                style="width:267.65pt;border:solid #003366 1.0pt;border-top:  none;padding:0cm 5.4pt 0cm 5.4pt;height:17.4pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <strong>Tổng cộng</strong></p>
                            </td>
                            <td colspan="5"
                                style="width:265.5pt;border-top:none;border-left:  none;border-bottom:solid #003366 1.0pt;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:17.4pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <strong>&nbsp;</strong></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-indent:-4.25pt;'>
                    <em><br>&nbsp;Ghi ch&uacute;: Mức độ đ&aacute;nh gi&aacute; từ 1 đến 5 theo ti&ecirc;u ch&iacute; từ
                        thấp đến cao.</em></p>
                <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-indent:-4.25pt;'>&nbsp;</p>
                <table style="border-collapse:collapse;border:none;">
                    <tbody>
                        <tr>
                            <td
                                style="width:100%;border:solid #003366 1.0pt;border-right:  none;background:silver;padding:0cm 5.4pt 0cm 5.4pt;height:14.4pt;">
                                <p
                                    style='width:100%;margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:  1.0pt;margin-left:0cm;line-height:15.0pt;'>
                                    <strong>II. <span style="color:black;">&Yacute; KIẾN CỦA PHỎNG VẤN
                                            VI&Ecirc;N</span></strong></p>
                            </td>
                            <td
                                style="width:100%;border:solid #003366 1.0pt;border-left:  none;background:silver;padding:0cm 5.4pt 0cm 5.4pt;height:14.4pt;">
                                <p
                                    style='width:100%;margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <strong>&nbsp;</strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"
                                style="width:100%;border:solid #003366 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:70.65pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:  1.0pt;margin-left:0cm;line-height:15.0pt;'>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td
                                style="width:100%;border-top:none;border-left:solid #003366 1.0pt;border-bottom:solid #003366 1.0pt;border-right:none;background:silver;padding:0cm 5.4pt 0cm 5.4pt;height:14.4pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:  1.0pt;margin-left:0cm;line-height:15.0pt;'>
                                    <strong><span style="color:black;">III. KẾT QUẢ PHỎNG VẤN</span></strong></p>
                            </td>
                            <td
                                style="width:201.25pt;border-top:none;border-left:none;border-bottom:solid #003366 1.0pt;border-right:solid #003366 1.0pt;background:silver;padding:0cm 5.4pt 0cm 5.4pt;height:14.4pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:1.0pt;margin-left:0cm;text-align:center;line-height:15.0pt;'>
                                    <strong>&nbsp;</strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"
                                style="width:533.4pt;border-top:none;border-left:  solid #003366 1.0pt;border-bottom:none;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:28.75pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:  1.0pt;margin-left:0cm;line-height:15.0pt;'>
                                    &nbsp;</p>
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:  1.0pt;margin-left:0cm;line-height:15.0pt;'>
                                    <input type="checkbox">&nbsp;Ph&ugrave; hợp</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"
                                style="width:533.4pt;border-top:none;border-left:  solid #003366 1.0pt;border-bottom:none;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:15.05pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:  1.0pt;margin-left:0cm;line-height:15.0pt;'>
                                    <input type="checkbox">&nbsp;Kh&ocirc;ng ph&ugrave; hợp</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"
                                style="width:533.4pt;border-top:none;border-left:  solid #003366 1.0pt;border-bottom:none;border-right:solid #003366 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:38.6pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:  1.0pt;margin-left:0cm;line-height:150%;'>
                                    Thời gian nhận việc đề xuất:
                           </p>
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:  1.0pt;margin-left:0cm;line-height:150%;'>
                                    Lương đề xuất:
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"
                                style="width:533.4pt;border:solid #003366 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:3.5pt;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:1.0pt;margin-right:0cm;margin-bottom:  1.0pt;margin-left:0cm;line-height:15.0pt;'>
                                    &nbsp;</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'>&nbsp;</p>
                <table style="width:100%;margin-left:-8.8pt;border-collapse:collapse;border:none;">
                    <tbody>
                        <tr>
                            <td style="width: 163.05pt;padding: 0cm 5.4pt;vertical-align: top;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:6.0pt;text-align:center;'>
                                    <strong>TRƯỞNG BỘ PHẬN UV ỨNG TUYỂN</strong></p>
                              
                                    <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:6.0pt;text-align:center;'>
                                    <strong>&nbsp;</strong></p>
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:6.0pt;text-align:center;'>
                                    <strong>&nbsp;</strong></p>
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:6.0pt;text-align:center;'>
                                    <strong>&nbsp;</strong></p>
                            </td>
                            <td style="width: 191.35pt;padding: 0cm 5.4pt;vertical-align: top;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:6.0pt;text-align:center;'>
                                    <strong>BP. TUYỂN DỤNG</strong></p>
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                                    &nbsp;</p>
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                                    &nbsp;</p>
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                                    &nbsp;</p>
                                <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;'>&nbsp;</p>
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                                    &nbsp;</p>
                               
                            </td>
                            <td style="width: 177.2pt;padding: 0cm 5.4pt;vertical-align: top;">
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;margin-top:6.0pt;text-align:center;'>
                                    <strong>PHỎNG VẤN VI&Ecirc;N</strong></p>
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                                    &nbsp;</p>
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                                    &nbsp;</p>
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                                    &nbsp;</p>
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                                    &nbsp;</p>
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                                    &nbsp;</p>
                                <p
                                    style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>
                                    &nbsp;</p>
                               
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
</body>

</html>