<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yêu Cầu Tuyển Dụng</title>
    <link rel="apple-touch-icon" href="https://tuyendung.me/galaxydr-logo.jpg">
    <link href="https://admin.tuyendung.me/iso9001/Admin/vendor/mdi-font/css/material-design-iconic-font.min.css"
        rel="stylesheet" media="all">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://admin.tuyendung.me/iso9001/Admin/css/theme.css" rel="stylesheet" media="all">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
        p{
            font-family:"Times New Roman";
        }
        tag_p {
            margin:0cm;font-size:16px;font-family:VNI-Times;
        }
        tag_p_150 {
            margin:0cm;font-size:16px;font-family:VNI-Times;line-height:150%;
        }
        tag_p_center{
            margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;
        }
        tag_p__font_center{
            margin:0cm;font-size:16px;font-family:VNI-Times;text-align:center;
        }
        input{
            text-align: center;
            border: none;
        }
   
    </style>
</head>
<body>
    <table style="width: 95%; margin-left: calc(3%); border-collapse: collapse; border: none; margin-right: calc(3%);margin-top: 5%;">
        <tbody>
            <tr>
                <td rowspan="4" style="width:103.5pt;border:double windowtext 1.5pt;border-right:solid windowtext 1.0pt;height:19.0pt;">
                    <p style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'><img width="93" src="https://galaxydr.com.vn/storage/logo/logo.png" alt="Description: logo"></p>
                </td>
                <td rowspan="4" style="width: 46.9095%; border-top: 1.5pt double windowtext;text-align: center; border-left: none; border-bottom: 1.5pt double windowtext; border-right: 1pt solid windowtext;  height: 19pt;">
                    <p class="tag_p_center"><strong><span >C&Ocirc;NG TY TNHH DV GALAXY DR&nbsp;</span></strong></p>
                    <p class="tag_p_center"><span style='font-size:13px,serif;'>TM01, PVL Linh T&acirc;y, Số 5, Đường D1, Phường Linh T&acirc;y, Th&agrave;nh phố Thủ Đức, Tp HCM</span></p>
                    <p class="tag_p_center"><span style='font-size:13px,serif;'>Điện thoại: &nbsp;028 73055 995</span></p>
                    <p class="tag_p_center"><span style='font-size:13px,serif;'>Website:</span><span style="font-size:15px;">&nbsp;</span><span style='font-size:13px,serif;'>www.galaxydr.com.vn</span></p>
                </td>
                <td style="width:86.4pt;border-top:double windowtext 1.5pt;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;height:19.0pt;">
                    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>Trang</p>
                </td>
                <td style="width: 19.7026%; border-top: 1.5pt double windowtext; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1.5pt double windowtext;  height: 19pt;">
                    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>1/2</p>
                </td>
            </tr>
            <tr>
                <td style="width:86.4pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;height:19.0pt;">
                    <p style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'><span style="font-size:13px;">Lần ban h&agrave;nh</span></p>
                </td>
                <td style="width: 19.7026%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1.5pt double windowtext;  height: 19pt;">
                    <p style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'><span style="font-size:15px;">01</span></p>
                </td>
            </tr>
            <tr>
                <td style="width:86.4pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;height:19.0pt;">
                    <p style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'><span style="font-size:13px;">Ng&agrave;y ban h&agrave;nh</span></p>
                </td>
                <td style="width: 19.7026%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1.5pt double windowtext;  height: 19pt;">
                    <p style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'><span style="font-size:15px;">20/01/2021</span></p>
                </td>
            </tr>
            <tr>
                <td style="width:86.4pt;border-top:none;border-left:none;border-bottom:double windowtext 1.5pt;border-right:solid windowtext 1.0pt;height:19.0pt;">
                    <p style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'><span style="font-size:13px;">Số hiệu</span></p>
                </td>
                <td style="width: 19.7026%; border-top: none; border-left: none; border-bottom: 1.5pt double windowtext; border-right: 1.5pt double windowtext;  height: 19pt;">
                    <p style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'>BM - QT08-02</p>
                </td>
            </tr>
        </tbody>
    </table>
    
    <form style="margin-left: 2%;margin-right: 2%;" action="/iso/create_form_request" method="post">
        <input hidden id="count_row" name="count_row" >
        <p style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;'><span style="font-size:11px;">&nbsp;</span></p>
        <h3 style='margin-top:12.0pt;margin-right:0cm;margin-bottom:3.0pt;margin-left:0cm;font-size:17px;font-family:"Arial",sans-serif;'>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</h3>
        <h1 style="margin:0cm;text-align:center;font-size:21px;font-family:VNI-Times;font-weight:normal;text-indent:36.0pt;"><strong><span >PHIẾU YÊU CẦU TUYỂN DỤNG</span></strong></h1>
        <p class="tag_p"><span >&nbsp;</span></p>
        <div class="tag_p_150">Bộ phận yêu cầu &nbsp; : <select name="center_request">
            <option value="TTTV-CSKH1">TTTV & CSKH 1</option>
            <option value="TTTV-CSKH2">TTTV & CSKH 2</option>
            <option value="TTNV-ĐB">FC</option>
            <option value="Office">Office</option>
        </select></div>
        <div class="tag_p_150"><span >Ngày gửi yêu cầu : <input type="date" name="date_request" /> </span></div>
        <div class="tag_p_150"><span >Mục đích tuyển dụng : <select name="Purpose">
            <option value="Tuyển Mới">Tuyển Mới</option>
            <option value="Dự Án">Dự Án</option>
            <option value="Bổ sung nhân sự">Bổ sung nhân sự</option>
        </select></span></div>
        <p class="tag_p"><span style='font-size:5px,serif;'>&nbsp;</span></p>
        <table style="border-collapse:collapse;border:none;">
            <thead>
                <tr style="text-align: center;">
                    <td rowspan="0" style="width:32.8pt;border:solid windowtext 1.0pt;background:#E6E6E6;height:24.95pt;">
                        <p class="tag_p__font_center"><span >STT</span></p>
                    </td>
                    <td rowspan="1" style="width:144.3pt;border:solid windowtext 1.0pt;border-left:none;background:#E6E6E6;height:24.95pt;">
                        <p class="tag_p__font_center"><span style='color:black;'>Vị tr&iacute;</span></p>
                    </td>
                    <td rowspan="2" style="width:77.95pt;border:solid windowtext 1.0pt;border-left:none;background:#E6E6E6;height:24.95pt;">
                        <p class="tag_p__font_center"><span style='color:black;'>Nh&oacute;m/ Ph&ograve;ng ban</span></p>
                    </td>
                    <td rowspan="3" style="width:177.3pt;border:solid windowtext 1.0pt;border-left:none;background:#E6E6E6;height:24.95pt;">
                        <p class="tag_p__font_center"><span style='color:black;'>Y&ecirc;u cầu tuyển dụng</span></p>
                    </td>
                    <td rowspan="4" style="width:99.25pt;border:solid windowtext 1.0pt;border-left:none;background:#E6E6E6;height:24.95pt;">
                        <p class="tag_p__font_center"><span style='color:black;'>Ng&agrave;y b&agrave;n giao nh&acirc;n sự</span></p>
                    </td>
                    <td rowspan="5" style="width:63.75pt;border:solid windowtext 1.0pt;border-left:none;background:#E6E6E6;height:24.95pt;">
                        <p class="tag_p__font_center"><span style='color:black;'>Số lượng</span></p>
                    </td>
                    <td rowspan="6" style="width:77.95pt;border:solid windowtext 1.0pt;border-left:none;background:#E6E6E6;height:24.95pt;">
                        <p class="tag_p__font_center"><span style='color:black;'>Ph&ecirc; duyệt</span></p>
                    </td>
                    <td rowspan="7" style="width:92.15pt;border:solid windowtext 1.0pt;border-left:none;background:#E6E6E6;height:24.95pt;">
                        <p class="tag_p__font_center"><span style='color:black;'>Ghi ch&uacute;</span></p>
                    </td>
                    <td rowspan="8" style="width:92.15pt;border:solid windowtext 1.0pt;border-left:none;background:#E6E6E6;height:24.95pt;">
                        <p class="tag_p__font_center"><span style='color:black;'>Cài đặt</span></p>
                    </td>
                </tr>  
            </thead>
            <tbody style="width:100%;border-collapse:collapse;border:none;"  id="test-body">
                
            </tbody>
        </table>
        <p class="tag_p"> <input style="margin-top: 10px ;" id='add-row' class='btn btn-primary' type='button' value='Thêm' /></p>
        <p class="tag_p"><span >&nbsp;</span></p>
        <table style="border-collapse:collapse;border:none;width: 100%;">
            <tbody>
                <tr >
                    <td style="width: 167.1pt;height: 119.25pt;vertical-align: top;text-align: center;">
                        <p class="tag_p__font_center"><strong><span style='color:black;'>NGƯỜI Y&Ecirc;U CẦU</span></strong></p>
                        <p class="tag_p__font_center"><strong><span style='color:black;'>&nbsp;</span></strong></p>
                        <p class="tag_p__font_center"><strong><span style='color:black;'>&nbsp;</span></strong></p>
                        <p class="tag_p__font_center"><strong><span style='color:black;'>&nbsp;</span></strong></p>
                        <div class="input-container">
                            <fieldset><span style='color:black;'><input name="person_request"  placeholder="Người Yêu Cầu"></span></fieldset>
                        </div>                      
                    </td>
                    <td style="width: 167.1pt;height: 119.25pt;vertical-align: top;text-align: center;">
                        <p class="tag_p__font_center"><strong><span >QUẢN L&Yacute; BỘ PHẬN</span></strong></p>
                        <p class="tag_p__font_center"><strong><span style='color:black;'>&nbsp;</span></strong></p>
                        <p class="tag_p__font_center"><strong><span style='color:black;'>&nbsp;</span></strong></p>
                        <p class="tag_p__font_center"><strong><span style='color:black;'>&nbsp;</span></strong></p>
                        <div class="input-container">
                            <fieldset><span style='color:black;'><input name="Confirm_Director_Center"  placeholder="Trung Tâm Tư Vấn"></span></fieldset>
                        </div>
                    </td>
                    <td style="width: 167.1pt;height: 119.25pt;vertical-align: top;text-align: center;">
                        <p class="tag_p__font_center"><strong><span style='color:black;'>P.Tuyển Dụng</span></strong></p>
                        <p class="tag_p__font_center"><strong><span style='color:black;'>&nbsp;</span></strong></p>
                        <p class="tag_p__font_center"><strong><span style='color:black;'>&nbsp;</span></strong></p>
                        <p class="tag_p__font_center"><strong><span style='color:black;'>&nbsp;</span></strong></p>
                        <div class="input-container">
                            <fieldset><span style='color:black;'><input name="Confirm_Recuitment_Teamleader"  placeholder="P.Tuyển Dụng"></span></fieldset>
                        </div>                   
                      </td>
                    <td style="width: 167.1pt;height: 119.25pt;vertical-align: top;text-align: center;">
                        <p class="tag_p__font_center"><strong><span style='color:black;'>P.HCNS</span></strong></p>
                        <p class="tag_p__font_center"><strong><span style='color:black;'>&nbsp;</span></strong></p>
                        <p class="tag_p__font_center"><strong><span style='color:black;'>&nbsp;</span></strong></p>
                        <p class="tag_p__font_center"><strong><span style='color:black;'>&nbsp;</span></strong></p>
                        <div class="input-container">
                            <fieldset><span style='color:black;'><input name="Director"  placeholder="P.Nhân Sự"></span></fieldset>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div  id="footer" class="modal-footer">
            <button type="submit" class="btn btn-primary" data-dismiss="modal">Lưu Yêu Cầu Tuyển Dụng</button>
         </div>
    </form>
   
    <script>
          // Add row
        var row = 1;
        $(document).on("click", "#add-row", function () {
        var new_row = `<tr id="row${row}">>
    <td style="width:32.8pt;border:solid windowtext 1.0pt;height:24.95pt;vertical-align: middle;">
        <input style="width:40px"  value="${row}" type="text" />
    </td>
    <td style="border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;height:26.35pt;vertical-align: middle;">
       <textarea style="width:100%;height:100px;padding:2%" name="Vacancies" /></textarea>
    </td>
    <td style="border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;height:26.35pt;vertical-align: middle;">
       <input style="width:100%;height:100px" name="Group_request" type="text" />
    </td>
    <td style="border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;height: 26.35pt;vertical-align: middle;">
        <textarea style="width:100%;height:100px;padding:2%" name="Recruitment_requirements"/></textarea>
    </td>
    <td style="border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;height: 26.35pt;vertical-align: middle;">
       <input style="width:100%;height:100px" name="Training_Day" type="date" />
    </td>
    <td style="border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;height: 26.35pt;vertical-align: middle;">
   <input style="width:100%;height:100px" name="Headcount" type="text" />
    </td>
    <td style="border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;height: 26.35pt;vertical-align: middle;">
     <input style="width:100%;height:100px" name="Headcount_approve" type="text" />
    </td>
    <td style="border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;height: 26.35pt;vertical-align: middle;">
        <textarea style="width:100%;height:100px;padding:2%" name="Note_Status" /></textarea>

    </td>
    <td style="padding:5px;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;height: 26.35pt;vertical-align: middle;"><input style="width:100%"  class="delete-row btn btn-primary" type="button" value="Xóa" /></td>
</tr>`
        $('#test-body').append(new_row);
        row++;
        $("#count_row").val(row-1)
        return false;
       
        });
        $(document).on("click", ".delete-row", function () {
            if(row>1) {
            $(this).closest('tr').remove();
            row--;
            $("#count_row").val(row-1)
        }
        return false;
      
        });
     
    </script>
</body>
</html>

