<div class="jp_main_footer_img_wrapper">
    <div class="jp_newsletter_img_overlay_wrapper"></div>
    <div class="jp_newsletter_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="jp_footer_candidate">
                        <h2 id="newFont">Giới Thiệu OfficeJob</h2>
                        </br>

                    </div>
                </div>
                <div style="margin-top: 20px;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="container">
                        <div class="recruiters-details">
                            <div id="infoCPN" class="items2">
                                <div class="right-con">
                                    <img style="width: 120px;height: 120px;;border-radius: 10px;"
                                        src="logo_new.jpg" alt="">
                                </div>
                                <div class="content">
                                    <a href="https://tuyendung.me">
                                        <h3><b style="font-size: 25px;font-weight:900" id="newFont">OfficeJob - Việc Làm Văn Phòng</b></h3>
                                    </a>
                                    <ul class="tlist">
                                        <li><img style="width:30px;height: 30px;"
                                                src="https://img.icons8.com/color/100/000000/domain--v1.png" /><a
                                                href="https://tuyendung.me"><b>https://tuyendung.me </b></a>
                                        </li>
                                        <li><img style="width:30px;height: 30px;"
                                                src="https://img.icons8.com/office/100/000000/conference-call.png" /><b>Hơn
                                                800 Nhân viên</b>
                                        </li>
                                        <li><img style="width:30px;height: 30px;"
                                                src="https://img.icons8.com/plasticine/100/000000/new-job.png" /><b>Đa dạng lĩnh vực | Ngành Nghề</b></li>
                                    </ul>
                                    <ul class="blist">
                                        <li><img style="width:50px;height: 50px;"
                                                src="https://img.icons8.com/bubbles/100/000000/iphone-x.png" /><b>Lê
                                                Đức
                                                Anh : 093 18 666 98 - 0908 25 12 98 (Admin)
                                            </b></li>
                                        <li><img style="width:50px;height: 50px;"
                                                src="https://img.icons8.com/bubbles/100/000000/email--v1.png" />
                                            <b>Email : anh.le@tuyendung.me</b>
                                        </li>
                                        <li><img style="width:50px;height: 50px;"
                                                src="https://img.icons8.com/bubbles/100/000000/order-delivered.png" /><b>Địa
                                                chỉ : Số 5 Đường D1 ,Tầng 1&2
                                                Toà nhà PVL Linh Tây Tower Phường Linh Tây , Thành Phố
                                                Thủ Đức</b></li>
                                        <li><img style="width:50px;height: 50px;"
                                                src="https://img.icons8.com/bubbles/100/000000/facebook.png" /><a
                                                href="https://www.facebook.com/vieclamvanphongTPHCM"><b>Fanpage :
                                                    Việc Làm Văn Phòng TP.HCM</b></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</div>
<script src="https://tuyendung.me/js/jquery_min.js"></script>
<script src="https://tuyendung.me/js/bootstrap.js"></script>
<script src="https://tuyendung.me/js/jquery.menu-aim.js"></script>
<script src="https://tuyendung.me/js/jquery.countTo.js"></script>
<script src="https://tuyendung.me/js/jquery.inview.min.js"></script>
<script src="https://tuyendung.me/js/owl.carousel.js"></script>
<script src="https://tuyendung.me/js/modernizr.js"></script>
<script src="https://tuyendung.me/js/custom.js"></script>
<script src="https://tuyendung.me/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css.map"></script>
