<head>
    <meta charset="utf-8" />
    <title>Việc Làm Văn Phòng</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta name="description" content="Việc Làm Văn Phòng" />
    <meta name="keywords" content="Hỗ trợ việc làm,Hỗ trợ tuyển dụng chuyên nghiệp , hiệu quả Liên hệ : 093.18.666.98" />
    <meta name="author" content="" />
    <meta name="MobileOptimized" content="320" />
    <link rel="stylesheet" type="text/css" href="https://tuyendung.me/css/animate.css" />
    <link rel="stylesheet" type="text/css" href="https://tuyendung.me/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="https://tuyendung.me/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="https://tuyendung.me/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="https://tuyendung.me/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="https://tuyendung.me/css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="https://tuyendung.me/css/owl.theme.default.css" />
    <link rel="stylesheet" type="text/css" href="https://tuyendung.me/css/flaticon.css" />
    <link rel="stylesheet" type="text/css" href="https://tuyendung.me/css/style.css" />
    <link rel="stylesheet" type="text/css" href="https://tuyendung.me/css/responsive.css" />
    <link rel="stylesheet" type="text/css" href="https://tuyendung.me/style.css" />
    <meta property="fb:app_id" content="1902832553257404" />
    <meta property="og:image" content="https://tuyendung.me/icon_officejob/2.png" />
    <meta property="og:image:alt" content="Hỗ trợ tuyển dụng" />
    <meta property="og:video:type" content="application/x-shockwave-flash" />
    <meta property="og:video:width" content="400" />
    <meta property="og:video:height" content="300" />
    <meta property="og:description" content="Liên Hệ: 093.18.666.98 Đức Anh">
    <meta property="og:title" content="Hỗ trợ tuyển dụng" />
    <meta property="og:type" content="website" />
    <link rel="shortcut icon" type="image/png" href="https://tuyendung.me/logo_new.jpg" />
    <script src="jquery.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5973369736597865"
     crossorigin="anonymous"></script>
     <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N3Q2KXM');</script>
    <!-- End Google Tag Manager -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TFDGP1S33Z"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-TFDGP1S33Z');
    </script>
</head>


