<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N3Q2KXM"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

<div class="jp_top_header_img_wrapper">
    <div class="jp_slide_img_overlay"></div>
    <div class="gc_main_menu_wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 hidden-xs hidden-sm full_width">
                    <div class="gc_header_wrapper">
                        <div class="gc_logo">
                            <a href="/"><img src="logo_vlvp_new_2022.png" style="width: 100%;height: 100%;" alt="Logo" title="VLVP"
                                    class="img-responsive"></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-8 col-sm-12 col-xs-12 center_responsive">
                    <div class="header-area hidden-menu-bar stick" id="sticker">
                        <!-- mainmenu start -->
                        <div class="mainmenu">

                            <ul class="float_left">
                                <%if(user || user !="" ){ %>
                                    <li class="has-mega gc_main_navigation"><a href="/Home" class="gc_main_navigation">Trang
                                            Chủ</a>
                                    </li>
                                    <%}else{%>
                                        <li class="has-mega gc_main_navigation"><a href="/" class="gc_main_navigation">Trang
                                            Chủ</a>
                                    </li>
                                    <%}%>
                                <li class="has-mega gc_main_navigation"><a href="/job" class="gc_main_navigation">Việc
                                        Làm</a>
                                </li>

                                <li class="has-mega gc_main_navigation"><a href="#" class="gc_main_navigation">Ứng
                                        Viên&nbsp;<i class="fa fa-angle-down"></i></a>

                                    <ul>
                                        <li class="parent"><a href="/share-cv">Chia sẻ hồ sơ</a></li>
                                        <!-- <li class="parent"><a href="/email-marketing">Email Marking</a></li> -->
                                        <li class="parent"><a href="/candidates">Ứng viên mới</a></li>
                                        <li class="parent"><a href="/khodata">Thông Tin Ứng Viên</a></li>
                                      
                                    </ul>
                                </li>
                                <li class="parent gc_main_navigation"><a href="/contact" class="gc_main_navigation">Liên
                                        Hệ</a></li>
                                <li class="parent gc_main_navigation"><a href="/nop-don-ung-tuyen"
                                        class="gc_main_navigation">Ứng Tuyển</a></li>

                            </ul>
                        </div>
                        <header class="mobail_menu">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6">
                                        <div class="gc_logo">
                                            <a href="/"><img src="logo_vlvp_new_2022.png" style="width: 220px;height: 100%;" alt="Logo"
                                                    title="Grace Church"></a>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6">
                                        <div class="cd-dropdown-wrapper">
                                            <a class="house_toggle" href="#0">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1"
                                                    x="0px" y="0px" viewBox="0 0 31.177 31.177"
                                                    style="enable-background:new 0 0 31.177 31.177;"
                                                    xml:space="preserve" width="25px" height="25px">
                                                    <g>
                                                        <g>
                                                            <path class="menubar"
                                                                d="M30.23,1.775H0.946c-0.489,0-0.887-0.398-0.887-0.888S0.457,0,0.946,0H30.23    c0.49,0,0.888,0.398,0.888,0.888S30.72,1.775,30.23,1.775z"
                                                                fill="#ffffff" />
                                                        </g>
                                                        <g>
                                                            <path class="menubar"
                                                                d="M30.23,9.126H12.069c-0.49,0-0.888-0.398-0.888-0.888c0-0.49,0.398-0.888,0.888-0.888H30.23    c0.49,0,0.888,0.397,0.888,0.888C31.118,8.729,30.72,9.126,30.23,9.126z"
                                                                fill="#ffffff" />
                                                        </g>
                                                        <g>
                                                            <path class="menubar"
                                                                d="M30.23,16.477H0.946c-0.489,0-0.887-0.398-0.887-0.888c0-0.49,0.398-0.888,0.887-0.888H30.23    c0.49,0,0.888,0.397,0.888,0.888C31.118,16.079,30.72,16.477,30.23,16.477z"
                                                                fill="#ffffff" />
                                                        </g>
                                                        <g>
                                                            <path class="menubar"
                                                                d="M30.23,23.826H12.069c-0.49,0-0.888-0.396-0.888-0.887c0-0.49,0.398-0.888,0.888-0.888H30.23    c0.49,0,0.888,0.397,0.888,0.888C31.118,23.43,30.72,23.826,30.23,23.826z"
                                                                fill="#ffffff" />
                                                        </g>
                                                        <g>
                                                            <path class="menubar"
                                                                d="M30.23,31.177H0.946c-0.489,0-0.887-0.396-0.887-0.887c0-0.49,0.398-0.888,0.887-0.888H30.23    c0.49,0,0.888,0.398,0.888,0.888C31.118,30.78,30.72,31.177,30.23,31.177z"
                                                                fill="#ffffff" />
                                                        </g>
                                                    </g>
                                                </svg>
                                            </a>
                                            <nav class="cd-dropdown">
                                                <div class="gc_logo">
                                                    <h2 style="font-size:20px;margin-top: 5%;"><a href="/">Việc Làm<span>Văn Phòng</span></a></h2>
                                                    <a href="/"><img src="logo_vlvp_new_2022.png" style="width: 220px;height: 100%;" alt="Logo"
                                                            title="Grace Church"></a>
                                                </div>
                                                <a href="#0" class="cd-close">Đóng</a>
                                                <ul style="margin-top:20%" class="cd-dropdown-content">
                                                    <%if(user || user !="" ){ %>
                                                    <li>
                                                        <a href="/Home">Trang Chủ</a>
                                                    </li>
                                                    <%}else{%>
                                                        <li>
                                                            <a href="/">Trang Chủ</a>
                                                        </li>
                                                        <%}%>
                                                    <!-- .has-children -->
                                                    <li class="has-children">
                                                        <a href="candidates">Ứng Viên</a>

                                                        <ul class="cd-secondary-dropdown is-hidden">
                                                            <li class="go-back"><a href="#0">Ứng Viên</a></li>
                                                            <li>
                                                                <a href="/share-cv">Ứng Viên Tìm Việc</a>
                                                            </li>
                                                            <!-- <li><a href="/email-marketing">Email Marking</a></li> -->
                                                            <li>
                                                                <a href="/candidates">Ứng viên mới</a>
                                                            </li>
                                                            <li><a href="/khodata">Thông Tin Ứng Viên</a></li>
                                                        </ul>
                                                        <!-- .cd-secondary-dropdown -->
                                                    </li>
                                                    <!-- .has-children -->
                                                    <li>
                                                        <a href="contact">Liên Hệ</a>
                                                    </li>
                                                    <li ><a href="/nop-don-ung-tuyen">Ứng Tuyển</a></li>
                                                    <%if(user || user !="" ){ %>
                                                        <li><a class="btnLogin" href="/logout"><img
                                                                    style="width: 50px;height: 50px;"
                                                                    src="https://img.icons8.com/bubbles/1000/000000/exit.png" />&nbsp;
                                                               </a></li>
                                                        <%}else{%>
                                                            <li><button id="btnLogin" c type="button" data-toggle="modal"
                                                                    data-target="#exampleModalCenter"><img
                                                                        style="width: 50px;height: 50px;"
                                                                        src="https://img.icons8.com/bubbles/100/000000/groups.png" />&nbsp;
                                                                    Đăng Nhập | Đăng Ký</button></li>
                                                            <%}%>


                                                </ul>
                                                <!-- .cd-dropdown-content -->



                                            </nav>
                                            <!-- .cd-dropdown -->

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- .cd-dropdown-wrapper -->
                        </header>
                    </div>
                </div>
                <!-- mobile menu area end -->
                <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 hidden-sm hidden-xs">
                    <div class="jp_navi_right_btn_wrapper">
                        <ul>
                            <%if(user || user != "" ){ %>
                                <li><a  href="/logout"><img style="width: 50px;height: 50px;"src="https://img.icons8.com/bubbles/1000/000000/shutdown.png" /></a></li>
                                <li><button id="test"><img style="width: 50px;height: 50px;"
                                    src="https://img.icons8.com/bubbles/100/000000/admin-settings-male.png" />
                                </button></li>
                            <%}else{%>
                                    <li><button id="btnLogin" type="button" data-toggle="modal"
                                            data-target="#exampleModalCenter"><img style="width: 50px;height: 50px;"
                                                src="https://img.icons8.com/bubbles/100/000000/admin-settings-male.png" />&nbsp; Đăng
                                            Nhập | Đăng Ký</button></li>
                                <%}%>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="jp_banner_heading_cont_wrapper">
        <div class="container">
            <div class="row">
                <% if (message.length> 0) { %>
                    <div style="margin-top: 20px;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="container">

                            <div class="alert alert-danger alert-white rounded">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <div class="icon"><i class="fa fa-times-circle"></i></div>
                                <strong>Lỗi!</strong>
                                <%= message %>
                            </div>
                        </div>
                    </div>
                    <%}%>
                        <% if (messagee.length> 0) { %>
                            <div style="margin-top: 20px;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="container">
                                    <div class="alert alert-danger alert-white rounded">
                                        <button type="button" class="close" data-dismiss="alert"
                                            aria-hidden="true">×</button>
                                        <div class="icon"><i class="fa fa-times-circle"></i></div>
                                        <strong>Lỗi!</strong>
                                        <%= messagee %>

                                    </div>
                                </div>
                            </div>
                            <%}%>

                                <div style="margin-top: 20px;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="container">
                                        <div class="recruiters-details">
                                            <div id="infoCPN" class="items2">
                                                <div class="right-con">
                                                    <img style="width: 120px;height: 120px;;border-radius: 10px;"
                                                        src="/galaxydr-logo.jpg" alt="">
                                                </div>
                                                <div class="content">
                                                    <a href="https://www.galaxydr.com.vn">
                                                        <h3><b style="font-size: 25px;font-weight:900" id="newFont">CÔNG TY TNHH DỊCH
                                                                VỤ GALAXY
                                                                DR</b></h3>
                                                    </a>
                                                    <ul class="tlist">
                                                        <li><img style="width:30px;height: 30px;"
                                                                src="https://img.icons8.com/color/100/000000/domain--v1.png" /><a
                                                                href="https://galaxydr.com.vn"><b>https://galaxydr.com.vn</b></a>
                                                        </li>
                                                        <li><img style="width:30px;height: 30px;"
                                                                src="https://img.icons8.com/office/100/000000/conference-call.png" /><b>Hơn
                                                                800 Nhân viên</b>
                                                        </li>
                                                        <li><img style="width:30px;height: 30px;"
                                                                src="https://img.icons8.com/plasticine/100/000000/new-job.png" /><b>Lĩnh
                                                                vực: CHĂM SÓC KHÁCH
                                                                HÀNG | NGÂN HÀNG | TÀI CHÍNH</b></li>
                                                    </ul>
                                                    <ul class="blist">
                                                        <li><img style="width:50px;height: 50px;"
                                                                src="https://img.icons8.com/bubbles/100/000000/iphone-x.png" /><b>Lê
                                                                Đức
                                                                Anh : 0938.344.798 - 093.18.666.98 ( P. Tuyển Dụng)
                                                            </b></li>
                                                        <li><img style="width:50px;height: 50px;"
                                                                src="https://img.icons8.com/bubbles/100/000000/email--v1.png" />
                                                            <b>Email : info@galaxydr.com.vn</b>
                                                        </li>
                                                        <li><img style="width:50px;height: 50px;"
                                                                src="https://img.icons8.com/bubbles/100/000000/order-delivered.png" /><b>Địa
                                                                chỉ : Số 5 Đường D1 ,Tầng 1&2
                                                                Toà nhà PVL Linh Tây Tower Phường Linh Tây , Thành Phố
                                                                Thủ Đức</b></li>
                                                        <li><img style="width:50px;height: 50px;"
                                                                src="https://img.icons8.com/bubbles/100/000000/facebook.png" /><a
                                                                href="https://www.facebook.com/galaxyderec"><b>Fanpage :
                                                                    https://www.facebook.com/galaxyderec</b></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
            </div>
        </div>
    </div>



</div>
