<div style="background-color:#fff " class="default-tab">
    <table style="width: 95%; margin-left: calc(2%); border-collapse: collapse; border: none; margin-right: calc(3%);">
        <tbody>
            <tr>
                <td rowspan="4" style="width:103.5pt;border:double windowtext 1.5pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:19.0pt;">
                    <p style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'><img width="93" src="https://galaxydr.com.vn/storage/logo/logo.png" alt="Description: logo"></p>
                </td>
                <td rowspan="4" style="width: 46.9095%; border-top: 1.5pt double windowtext; border-left: none; border-bottom: 1.5pt double windowtext; border-right: 1pt solid windowtext; padding: 0cm 5.4pt; height: 19pt;">
                    <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'><strong><span style='font-family:"Cambria",serif;'>C&Ocirc;NG TY TNHH DV GALAXY DR&nbsp;</span></strong></p>
                    <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'><span style='font-size:13px;font-family:"Cambria",serif;'>TM01, PVL Linh T&acirc;y, Số 5, Đường D1, Phường Linh T&acirc;y, Th&agrave;nh phố Thủ Đức, Tp HCM</span></p>
                    <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'><span style='font-size:13px;font-family:"Cambria",serif;'>Điện thoại: &nbsp;028 73055 995</span></p>
                    <p style='margin:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'><span style='font-size:13px;font-family:"Cambria",serif;'>Website:</span><span style="font-size:15px;">&nbsp;</span><span style='font-size:13px;font-family:"Cambria",serif;'>www.galaxydr.com.vn</span></p>
                </td>
                <td style="width:86.4pt;border-top:double windowtext 1.5pt;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:19.0pt;">
                    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>Trang</p>
                </td>
                <td style="width: 19.7026%; border-top: 1.5pt double windowtext; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1.5pt double windowtext; padding: 0cm 5.4pt; height: 19pt;">
                    <p style='margin-top:0cm;margin-right:0cm;margin-bottom:6.0pt;margin-left:0cm;font-size:16px;font-family:"Times New Roman",serif;text-align:center;'>1/1</p>
                </td>
            </tr>
            <tr>
                <td style="width:86.4pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:19.0pt;">
                    <p style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'><span style="font-size:13px;">Lần ban h&agrave;nh</span></p>
                </td>
                <td style="width: 19.7026%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1.5pt double windowtext; padding: 0cm 5.4pt; height: 19pt;">
                    <p style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'><span style="font-size:15px;">01</span></p>
                </td>
            </tr>
            <tr>
                <td style="width:86.4pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:19.0pt;">
                    <p style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'><span style="font-size:13px;">Ng&agrave;y ban h&agrave;nh</span></p>
                </td>
                <td style="width: 19.7026%; border-top: none; border-left: none; border-bottom: 1pt solid windowtext; border-right: 1.5pt double windowtext; padding: 0cm 5.4pt; height: 19pt;">
                    <p style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'><span style="font-size:15px;">20/01/2021</span></p>
                </td>
            </tr>
            <tr>
                <td style="width:86.4pt;border-top:none;border-left:none;border-bottom:double windowtext 1.5pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:19.0pt;">
                    <p style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'><span style="font-size:13px;">Số hiệu</span></p>
                </td>
                <td style="width: 19.7026%; border-top: none; border-left: none; border-bottom: 1.5pt double windowtext; border-right: 1.5pt double windowtext; padding: 0cm 5.4pt; height: 19pt;">
                    <p style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;text-align:center;'>BM - QT08-02</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style='margin:0cm;font-size:12px;font-family:"Times New Roman",serif;'><span style="font-size:11px;">&nbsp;</span></p>
    <h3 style='margin-top:12.0pt;margin-right:0cm;margin-bottom:3.0pt;margin-left:0cm;font-size:17px;font-family:"Arial",sans-serif;'>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</h3>
    <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:8.0pt;line-height:107%;text-align:center;'><strong><span style='font-size:20px;line-height:107%;font-family:"Times New Roman",serif;color:black;'>&nbsp;</span></strong></p>
    <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:8.0pt;line-height:107%;text-align:center;'><strong><span style='font-size:24px;line-height:107%;font-family:"Times New Roman",serif;color:black;'>THƯ CẢM ƠN</span></strong></p>
    <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:8.0pt;line-height:107%;'><em><span style='font-family:"Times New Roman",serif;'>&nbsp;</span></em></p>
    <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:8.0pt;line-height:107%;text-align:justify;'><strong><em><u><span style='font-family:"Times New Roman",serif;color:black;'>Kính gửi</span></u></em></strong><em><span style='font-family:"Times New Roman",serif;color:black;'>: Anh/Chị&nbsp;</span></em><strong><span style='font-family:"Times New Roman",serif;color:black;'><%=Ung_Vien.NameUT%></span></strong></p>
    <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:8.0pt;line-height:107%;text-align:justify;'><strong><span style='font-size:16px;line-height:107%;font-family:"Times New Roman",serif;color:black;'>C&Ocirc;NG TY TNHH DV GALAXY DR</span></strong><span style='font-size:16px;line-height:107%;font-family:"Times New Roman",serif;color:black;'>&nbsp;xin gửi tới Qu&yacute; anh/chị lời ch&uacute;c sức khỏe, an khang v&agrave; th&agrave;nh đạt.</span></p>
    <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:8.0pt;line-height:107%;background:white;'><em><span style="color:#1D2124;font-style:normal;">Cảm ơn&nbsp;</span></em><span style="color:black;">Qu&yacute; anh/chị</span><em><span style="color:#1D2124;font-style:normal;">&nbsp;đ&atilde; d&agrave;nh thời gian tham gia phỏng vấn cho vị tr&iacute;&nbsp;</span><strong><span style="color:#1D2124;"><%=Ung_Vien.vitriungtuyen%></span></strong></em></p>
    <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:8.0pt;line-height:107%;background:white;'><em><span style="color:#1D2124;font-style:normal;">Ch&uacute;ng t&ocirc;i đ&aacute;nh gi&aacute; cao sự cố gắng v&agrave; nhiệt t&igrave;nh của&nbsp;</span></em><span style="color:black;">Qu&yacute; anh/chị</span><em><span style="color:#1D2124;font-style:normal;">&nbsp;đối với&nbsp;</span></em><span style="color:black;">C&ocirc;ng ty GALAXY DR,</span><em><span style="color:#1D2124;font-style:normal;">&nbsp;c&ugrave;ng những g&igrave;&nbsp;</span></em><span style="color:black;">Qu&yacute; anh/chị</span><em><span style="color:#1D2124;font-style:normal;">&nbsp;thể hiện trong buổi phỏng vấn.</span></em></p>
    <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:19.5pt;line-height:107%;background:white;'><span style="color:#222222;">Ch&uacute;ng t&ocirc;i cũng rất ấn tượng với kĩ năng v&agrave; c&aacute;c th&agrave;nh t&iacute;ch m&agrave;&nbsp;</span><span style="color:black;">Qu&yacute; anh/chị</span><span style="color:#222222;">&nbsp;đ&atilde; đạt được.&nbsp;</span><em><span style="color:#1D2124;background:white;font-style:normal;">Tuy nhi&ecirc;n,<%=message%></span></p>
    <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:19.5pt;line-height:107%;background:white;'><span style="color:#222222;">Ch&uacute;c&nbsp;</span><span style="color:black;">Qu&yacute; anh/chị</span><span style="color:#222222;">&nbsp;mọi điều may mắn trong sự nghiệp.</span></p>
    <p style='margin-right:0cm;margin-left:216.0pt;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:8.0pt;line-height:107%;text-align:justify;'><span style='font-size:16px;line-height:107%;font-family:"Times New Roman",serif;color:black;'>Xin ch&acirc;n th&agrave;nh cảm ơn v&agrave; tr&acirc;n trọng k&iacute;nh ch&agrave;o!</span></p>
    <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:8.0pt;line-height:107%;'><span style='font-size:16px;line-height:107%;font-family:"Times New Roman",serif;'>&nbsp;</span></p>
    <table style="border: none;width:217.2pt;margin-left:251.95pt;border-collapse:collapse;">
        <tbody>
            <tr>
                <td style="padding: 0cm 5.4pt;height: 14.8pt;vertical-align: top;"><br></td>
                <td style="padding: 0cm 5.4pt;height: 14.8pt;vertical-align: top;">
                    <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:8.0pt;line-height:107%;'><span style='font-family:"Times New Roman",serif;color:black;'>TM CTY TNHH DV GALAXY DR</span></p>
                </td>
            </tr>
            <tr>
                <td style="padding: 0cm 5.4pt;height: 1cm;vertical-align: top;"><br></td>
                <td style="padding: 0cm 5.4pt;height: 1cm;vertical-align: top;">
                    <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:8.0pt;line-height:107%;'><span style='font-family:"Times New Roman",serif;'>&nbsp;</span></p>
                    <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:8.0pt;line-height:107%;text-align:center;'><span style='font-family:"Times New Roman",serif;color:black;'>BP. TUYỂN DỤNG</span></p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style='margin-right:0cm;margin-left:252.0pt;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:5.0pt;line-height:107%;text-indent:36.0pt;background:white;'><em><u><span style="font-size:15px;color:black;">Hotline: (+84) 0938 344 798</span></u></em></p>
    <p style='margin-right:0cm;margin-left:252.0pt;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:8.0pt;line-height:107%;text-align:justify;text-indent:36.0pt;'><em><u><span style='font-family:"Times New Roman",serif;color:black;'>Email:&nbsp;</span></u></em><a href="mailto:thien.pham.3@galaxydr.com.vn"><em><span style='font-family:"Times New Roman",serif;'>thien.pham.3@galaxydr.com.vn</span></em></a></p>
    <p style='margin-right:0cm;margin-left:0cm;font-size:15px;font-family:"Calibri",sans-serif;margin-top:0cm;margin-bottom:8.0pt;line-height:107%;'><em><span style='font-family:"Times New Roman",serif;'>&nbsp;</span></em></p>
</div>