<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chia Sẻ Ứng Viên</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta name="author" content="OfficeJob" />
    <meta name="MobileOptimized" content="320" />
    <meta property="og:description" content="Liên hê: 0908.25.12.98 Admin hỗ trợ" />
    <meta property="og:image" content="https://tuyendung.me/image/892d3a4d7f4857c6294d6607336850e3.jpeg" />
    <meta property="og:image:alt" content="<%=image_alt%>" />
    <meta property="og:url" content="https://tuyendung.me/ung-vien-tim-viec">
    <meta property="og:title" content="<%=Title%>" />
    <meta property="og:type" content="website" />
    <meta property="fb:app_id" content="1902832553257404" />
    <link rel="shortcut icon" type="image/png" href="https://tuyendung.me/logo_new.jpg" />
    <link rel="stylesheet" href="https://admin.tuyendung.me/iso9001/assets/css/bootstrap.min.css">
    <!-- Typography CSS -->
    <link rel="stylesheet" href="https://admin.tuyendung.me/iso9001/assets/css/typography.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="https://admin.tuyendung.me/iso9001/assets/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="https://admin.tuyendung.me/iso9001/assets/css/responsive.css">
    <script src="https://tuyendung.me/jquery.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script async crossorigin="anonymous"
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5973369736597865"
        crossorigin="anonymous"></script>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-N3Q2KXM');</script>
    <!-- End Google Tag Manager -->
</head>

<body>
    <style>
        body,
        html {
            height: 100%;
            margin: 0;
        }

        .sign-user_card {
            border-radius: 15px;
        }
    </style>
    <section class="sign-in-page"
        style="background: url('https://tuyendung.me/images/jobs/new.png') 50% 0% / cover;background-size: cover;">
        <div class="container">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5973369736597865"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-5973369736597865"
     data-ad-slot="4075831361"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
            <div class="row justify-content-center align-items-center height-self-center">
                <div style="    margin-top: 10px;
         margin-bottom: 10px;" class="col-lg-5 col-md-12 align-self-center form-padding">
                    <div class="sign-user_card ">
                        <div class="sign-in-page-data">
                            <% if (message.length> 0) { %>
                                <div style="color: ivory;" id="messages" class="alert alert-danger">
                                    <%= message %>
                                </div>
                                <% }else{ %>
                                    <div style="color: ivory;" id="messages" class="alert alert-danger">Office Jobs sẽ
                                        gửi thông tin ứng viên đến địa chỉ Email của bạn </br>Rất hân hạnh được hỗ trợ
                                        các nhà tuyển dụng</div>
                                    <%}%>
                                        <div class="sign-in-from w-100 m-auto">
                                            <h3>Nhận CV Ứng Viên</h3>
                                            <form class="mt-4" action="/sign_up_share_cv" method="POST">
                                                <div class="form-group">
                                                    <input type="text" name="email_share_cv" class="form-controls mb-0"
                                                        id="Email_account" placeholder="Email của bạn"
                                                        autocomplete="off" required>
                                                </div>
                                                <div class="sign-info">
                                                    <button style="width: 100%;" type="submit"
                                                        class="btn btn-primary">Nhận thông tin ứng viên miễn
                                                        phí</button>

                                                </div>
                                                <style>
                                                    .form-controls {
                                                        background-color: var(--iq-body-bg);
                                                        border: 1px solid transparent;
                                                        height: 46px;
                                                        position: relative;
                                                        color: var(--iq-body-text);
                                                        font-size: 16px;
                                                        width: 100%;
                                                        -webkit-border-radius: 6px;
                                                        border-radius: 6px
                                                    }
                                                </style>
                                                <center>
                                                    <img style="width: 30%;
                        border-radius: 50%;
                        margin-top: 10px;
                        background-color: antiquewhite;" src="https://tuyendung.me/logo_new.jpg" alt="VLVP" />
                                                </center>
                                            </form>

                                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5973369736597865"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-5973369736597865"
     data-ad-slot="4075831361"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
            </div>
        </div>
            <div class="row">
                <div class="col-xl-12">
                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5973369736597865"
                    crossorigin="anonymous"></script>
               <!-- Phu-3-thang-2 -->
               <ins class="adsbygoogle"
                    style="display:block"
                    data-ad-client="ca-pub-5973369736597865"
                    data-ad-slot="9775529030"
                    data-ad-format="auto"
                    data-full-width-responsive="true"></ins>
               <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
               </script>
                </div>  
                <div class="col-xl-12">
                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5973369736597865"
                    crossorigin="anonymous"></script>
               <!-- Phu-3-thang-2 -->
               <ins class="adsbygoogle"
                    style="display:block"
                    data-ad-client="ca-pub-5973369736597865"
                    data-ad-slot="9775529030"
                    data-ad-format="auto"
                    data-full-width-responsive="true"></ins>
               <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
               </script>
                </div>  
                <div class="col-xl-12">
                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5973369736597865"
                    crossorigin="anonymous"></script>
               <!-- Phu-3-thang-2 -->
               <ins class="adsbygoogle"
                    style="display:block"
                    data-ad-client="ca-pub-5973369736597865"
                    data-ad-slot="9775529030"
                    data-ad-format="auto"
                    data-full-width-responsive="true"></ins>
               <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
               </script>
                </div>  
            </div>
        </div>
        </div>
    </section>
  

    <script src="https://tuyendung.me/js/jquery_min.js"></script>
    <script src="https://tuyendung.me/js/bootstrap.js"></script>
    <script src="https://tuyendung.me/js/jquery.menu-aim.js"></script>
    <script src="https://tuyendung.me/js/jquery.countTo.js"></script>
    <script src="https://tuyendung.me/js/jquery.inview.min.js"></script>
    <script src="https://tuyendung.me/js/owl.carousel.js"></script>
    <script src="https://tuyendung.me/js/modernizr.js"></script>
    <script src="https://tuyendung.me/js/custom.js"></script>
    <script src="https://tuyendung.me/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css.map"></script>
</body>

</html>