
<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>ISO GALAXYDR 9001:2015</title>
      <meta name="description" content="ISO GALAXYDR 9001:2015">
      <link rel="shortcut icon" type="image/x-icon" href="galaxydr-logo.jpg">
      <link rel="apple-touch-icon" href="galaxydr-logo.jpg">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://admin.tuyendung.me/iso9001/Admin/assets/css/bootstrap.min.css">
      <!-- Typography CSS -->
      <link rel="stylesheet" href="https://admin.tuyendung.me/iso9001/Admin/assets/css/typography.css">
      <!-- Style CSS -->
      <link rel="stylesheet" href="https://admin.tuyendung.me/iso9001/Admin/assets/css/style.css">
      <!-- Responsive CSS -->
      <link rel="stylesheet" href="https://admin.tuyendung.me/iso9001/Admin/assets/css/responsive.css">
      <script src="jquery.js"></script>
   </head>
   <body>
      <!-- loader Start -->
      <div id="loading">
         <div id="loading-center">
         </div>
      </div>
      <!-- loader END -->
        <!-- Sign in Start -->
        <section class="sign-in-page"  style="background: url(https://tuyendung.me/logo_new.jpg);background-size: contain;">
          <div class="container">
            <div class="row justify-content-center align-items-center height-self-center">
               <div style="    margin-top: 10px;
               margin-bottom: 10px;" class="col-lg-5 col-md-12 align-self-center form-padding">
                  <div style="border-radius: 20px;" class="sign-user_card ">                    
                     <div class="sign-in-page-data">
                        <div class="sign-in-from w-100 m-auto">
                           <h3 class="mb-3 text-center">Đăng Nhập</h3>
                           <% if (message.length > 0) { %>
                            <div style="color: ivory;" class="alert alert-danger"><%= message %></div>
                            <% } %>
                           <form class="mt-4" action="/login_iso" method="POST">
                              <div class="form-group">                                 
                                 <input type="text" name="email" class="form-control mb-0" id="exampleInputEmail2" placeholder="Enter email" autocomplete="off" required>
                              </div>
                              <div class="form-group">                                 
                                 <input type="password" name="password" class="form-control mb-0" id="exampleInputPassword2" placeholder="Password" required>
                              </div>
                                 <div class="sign-info">
                                    <button type="submit" class="btn btn-primary">Đăng Nhập</button>
                                    <div class="custom-control custom-checkbox d-inline-block">
                                       <input type="checkbox" class="custom-control-input" id="customCheck">
                                    </div>                                
                                 </div>  
                                                                  
                           </form>
                        </div>
                     </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <script src="https://admin.tuyendung.me/iso9001/Admin/assets/js/jquery.min.js"></script>
      <script src="https://admin.tuyendung.me/iso9001/Admin/assets/js/popper.min.js"></script>
      <script src="https://admin.tuyendung.me/iso9001/Admin/assets/js/bootstrap.min.js"></script>
      <!-- Appear JavaScript -->
      <script src="https://admin.tuyendung.me/iso9001/Admin/assets/js/jquery.appear.js"></script>
      <!-- Countdown JavaScript -->
      <script src="https://admin.tuyendung.me/iso9001/Admin/assets/js/countdown.min.js"></script>
      <!-- Counterup JavaScript -->
      <script src="https://admin.tuyendung.me/iso9001/Admin/assets/js/waypoints.min.js"></script>
      <script src="https://admin.tuyendung.me/iso9001/Admin/assets/js/jquery.counterup.min.js"></script>
      <!-- Wow JavaScript -->
      <script src="https://admin.tuyendung.me/iso9001/Admin/assets/js/wow.min.js"></script>
      <!-- Slick JavaScript -->
      <script src="https://admin.tuyendung.me/iso9001/Admin/assets/js/slick.min.js"></script>
      <!-- Owl Carousel JavaScript -->
      <script src="https://admin.tuyendung.me/iso9001/Admin/assets/js/owl.carousel.min.js"></script>
      <!-- Magnific Popup JavaScript -->
      <script src="https://admin.tuyendung.me/iso9001/Admin/assets/js/jquery.magnific-popup.min.js"></script>
      <!-- Smooth Scrollbar JavaScript -->
      <script src="https://admin.tuyendung.me/iso9001/Admin/assets/js/smooth-scrollbar.js"></script>
      <!-- Chart Custom JavaScript -->
      <script src="https://admin.tuyendung.me/iso9001/Admin/assets/js/chart-custom.js"></script>
      <!-- Custom JavaScript -->
      <script src="https://admin.tuyendung.me/iso9001/Admin/assets/js/custom.js"></script>
<script src="https://admin.tuyendung.me/iso9001/Admin/assets/js/rtl.js"></script>
   </body>
</html>
